{
  "openapi": "3.0.0",
  "info": {
    "title": "FreeClimb API",
    "version": "1.0.0",
    "description": "FreeClimb is a cloud-based application programming interface (API) that puts the power of the Vail platform in your hands. FreeClimb simplifies the process of creating applications that can use a full range of telephony features without requiring specialized or on-site telephony equipment. Using the FreeClimb REST API to write applications is easy! You have the option to use the language of your choice or hit the API directly. Your application can execute a command by issuing a RESTful request to the FreeClimb API. The base URL to send HTTP requests to the FreeClimb REST API is: /apiserver. FreeClimb authenticates and processes your request.",
    "contact": {
      "name": "FreeClimb API Support",
      "url": "https://www.freeclimb.com/support/",
      "email": "support@freeclimb.com"
    }
  },
  "servers": [
    {
      "url": "https://www.freeclimb.com/apiserver"
    }
  ],
  "components": {
    "parameters": {
      "AccountId": {
        "name": "accountId",
        "in": "path",
        "description": "ID of the account",
        "required": true,
        "x-account-id": true,
        "schema": {
          "type": "string"
        }
      },
      "Capabilities.Voice": {
        "name": "capabilities.voice",
        "in": "query",
        "description": "",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "Capabilities.Sms": {
        "name": "capabilities.sms",
        "in": "query",
        "description": "",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "Capabilities.TollFree": {
        "name": "capabilities.tollFree",
        "in": "query",
        "description": "",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "Capabilities.TenDLC": {
        "name": "capabilities.tenDLC",
        "in": "query",
        "description": "",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "Capabilities.ShortCode": {
        "name": "capabilities.shortCode",
        "in": "query",
        "description": "",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      }
    },
    "securitySchemes": {
      "fc": {
        "scheme": "basic",
        "type": "http",
        "description": "HTTP requests to the FreeClimb REST API are protected with HTTP Basic authentication --- you use your FreeClimb-generated account ID and API key to authenticate each HTTP request. You can view your credentials under the API Keys section in your Dashboard."
      }
    },
    "schemas": {
      "AccountStatus": {
        "type": "string",
        "enum": ["closed", "suspended", "active"],
        "x-enum-varnames": ["CLOSED", "SUSPENDED", "ACTIVE"],
        "x-enum": true,
        "description": "The status of this account. It is one of: active, suspended, or closed.",
        "nullable": true
      },
      "AccountType": {
        "type": "string",
        "description": "The type of this account. It is one of: trial or full.",
        "enum": ["trial", "full"],
        "x-enum": true,
        "x-enum-varnames": ["TRIAL", "FULL"],
        "nullable": true
      },
      "AnsweredBy": {
        "type": "string",
        "nullable": true,
        "enum": ["human", "machine"],
        "x-enum-varnames": ["HUMAN", "MACHINE"],
        "x-enum": true,
        "description": "If this Call was initiated with answering machine detection, either `human` or `machine`. Empty otherwise."
      },
      "CallDirection": {
        "type": "string",
        "nullable": true,
        "enum": ["inbound", "outboundAPI", "outboundDial"],
        "x-enum-varnames": ["INBOUND", "OUTBOUND_API", "OUTBOUND_DIAL"],
        "x-py-enum-mapping": [
          { "enum": "inbound", "varname": "INBOUND"},
          { "enum": "outboundAPI", "varname": "OUTBOUND_API" },
          { "enum": "outboundDial", "varname": "OUTBOUND_DIAL" }
        ],
        "x-enum": true,
        "description": "Direction of the Call. `inbound` for Calls into FreeClimb, `outboundAPI` for Calls initiated via the REST API,  `outboundDial` for Calls initiated by the `OutDial` PerCL command."
      },
      "CallStatus": {
        "type": "string",
        "nullable": true,
        "enum": [
          "queued",
          "ringing",
          "inProgress",
          "canceled",
          "completed",
          "failed",
          "busy",
          "noAnswer"
        ],
        "x-enum-varnames": [
          "QUEUED",
          "RINGING",
          "IN_PROGRESS",
          "CANCELED",
          "COMPLETED",
          "FAILED",
          "BUSY",
          "NO_ANSWER"
        ],
        "x-py-enum-mapping": [
           { "enum": "queued",     "varname":  "QUEUED"        },
           { "enum": "ringing",    "varname":  "RINGING"       },
           { "enum": "inProgress", "varname":  "IN_PROGRESS"   },
           { "enum": "canceled",   "varname":  "CANCELED"      },
           { "enum": "completed",  "varname":  "COMPLETED"     },
           { "enum": "failed",     "varname":  "FAILED"        },
           { "enum": "busy",       "varname":  "BUSY"          },
           { "enum": "noAnswer",   "varname":  "NO_ANSWER"     }
        ],
        "x-enum": true,
        "description": "* `queued` &ndash; Call is ready and waiting in line before going out. * `ringing` &ndash; Call is currently ringing. * `inProgress` &ndash; Call was answered and is currently in progress. * `canceled` &ndash; Call was hung up while it was queued or ringing. * `completed` &ndash; Call was answered and has ended normally. * `busy` &ndash; Caller received a busy signal. * `failed` &ndash; Call could not be completed as dialed, most likely because the phone number was non-existent. * `noAnswer` &ndash; Call ended without being answered."
      },
      "CallEndedReason": {
        "type": "string",
        "nullable": true,
        "enum": [
          "busy",
          "failed",
          "noAnswer",
          "callCanceled",
          "farEndHangup",
          "appHangup",
          "appReject",
          "appNoPercl",
          "appInvalidPercl",
          "conferenceTerminated",
          "conferenceEmptied",
          "removedFromConference",
          "machineDetected",
          "webhookFailed",
          "webhookInvalidResponse",
          "voiceDisabled",
          "configErrorNoApplication",
          "configErrorNoVoiceUrl",
          "maxRedirectsError",
          "perclProcessingError",
          "internalError",
          "grpcHangup",
          "maxDuration"
        ],
        "x-enum-varnames": [
          "BUSY",
          "FAILED",
          "NO_ANSWER",
          "CALL_CANCELED",
          "FAR_END_HANGUP",
          "APP_HANGUP",
          "APP_REJECT",
          "APP_NO_PERCL",
          "APP_INVALID_PERCL",
          "CONFERENCE_TERMINATED",
          "CONFERENCE_EMPTIED",
          "REMOVED_FROM_CONFERENCE",
          "MACHINE_DETECTED",
          "WEBHOOK_FAILED",
          "WEBHOOK_INVALID_RESPONSE",
          "VOICE_DISABLED",
          "CONFIG_ERROR_NO_APPLICATION",
          "CONFIG_ERROR_NO_VOICE_URL",
          "MAX_REDIRECTS_ERROR",
          "PERCL_PROCESSING_ERROR",
          "INTERNAL_ERROR",
          "GRPC_HANGUP",
          "MAX_DURATION"
        ],
        "x-py-enum-mapping": [
          {  "enum": "busy",                     "varname":  "BUSY" }, 
          {  "enum": "failed",                   "varname":  "FAILED" },
          {  "enum": "noAnswer",                 "varname":  "NO_ANSWER" },
          {  "enum": "callCanceled",             "varname":  "CALL_CANCELED" },
          {  "enum": "farEndHangup",             "varname":  "FAR_END_HANGUP" },
          {  "enum": "appHangup",                "varname":  "APP_HANGUP" },
          {  "enum": "appReject",                "varname":  "APP_REJECT" },
          {  "enum": "appNoPercl",               "varname":  "APP_NO_PERCL" },
          {  "enum": "appInvalidPercl",          "varname":  "APP_INVALID_PERCL" },
          {  "enum": "conferenceTerminated",     "varname":  "CONFERENCE_TERMINATED" },
          {  "enum": "conferenceEmptied",        "varname":  "CONFERENCE_EMPTIED" },
          {  "enum": "removedFromConference",    "varname":  "REMOVED_FROM_CONFERENCE" },
          {  "enum": "machineDetected",          "varname":  "MACHINE_DETECTED" },
          {  "enum": "webhookFailed",            "varname":  "WEBHOOK_FAILED" },
          {  "enum": "webhookInvalidResponse",   "varname":  "WEBHOOK_INVALID_RESPONSE" },
          {  "enum": "voiceDisabled",            "varname":  "VOICE_DISABLED" },
          {  "enum": "configErrorNoApplication", "varname":  "CONFIG_ERROR_NO_APPLICATION" },
          {  "enum": "configErrorNoVoiceUrl",    "varname":  "CONFIG_ERROR_NO_VOICE_URL" },
          {  "enum": "maxRedirectsError",        "varname":  "MAX_REDIRECTS_ERROR" },
          {  "enum": "perclProcessingError",     "varname":  "PERCL_PROCESSING_ERROR" },
          {  "enum": "internalError",            "varname":  "INTERNAL_ERROR" },
          {  "enum": "grpcHangup",               "varname":  "GRPC_HANGUP" },
          {  "enum": "maxDuration",               "varname":  "MAX_DURATION" }
        ],
        "x-enum": true,
        "description": "Enhanced status for the Call with additional information where available."
      },
      "GetDigitsReason": {
        "type": "string",
        "enum": [
          "finishKey",
          "timeout",
          "maxDigits",
          "tone"
        ],
        "x-enum-varnames": [
          "FINISH_KEY",
          "TIMEOUT",
          "MAX_DIGITS",
          "TONE"
        ],
        "x-py-enum-mapping": [
            { "enum": "finishKey", "varname": "FINISH_KEY" }, 
            { "enum": "timeout",   "varname": "TIMEOUT" },
            { "enum": "maxDigits", "varname": "MAX_DIGITS" },
            { "enum": "tone",       "varname": "TONE" }   
        ],
        "x-enum": true,
        "description": "This field explains how the GetDigits action ended. The value is one of the below: •finishKey - The finish key as specified had been pressed by the caller. Digit string has all keys up to, but not including, the finish key.  •timeout - The timeout limit was reached prior to any other criteria being met. If any digits were collected, they will be included.  •maxDigits - The maximum number of digits was reached and digit collection ended.  •tone - Answering machine or fax tone detection occurred, interrupting digit collection. Any digits received up to this point are included in this webhook."
      },
      "ConferenceStatus": {
        "type": "string",
        "nullable": true,
        "enum": ["empty", "populated", "inProgress", "terminated"],
        "x-enum-varnames": ["EMPTY", "POPULATED", "IN_PROGRESS", "TERMINATED"],
        "x-py-enum-mapping": [
          { "enum": "empty",      "varname": "EMPTY"}, 
          { "enum": "populated",  "varname": "POPULATED"}, 
          { "enum": "inProgress", "varname": "IN_PROGRESS"}, 
          { "enum": "terminated", "varname": "TERMINATED" }
        ],
        "x-enum": true,
        "description": "The status of the Conference. One of: creating, empty, populated, inProgress, or terminated."
      },
      "GetSpeechReason": {
        "type": "string",
        "enum": [
          "error",
          "hangup",
          "digit",
          "noInput",
          "noMatch",
          "recognition"
        ],
        "x-enum-varnames": [
          "ERROR",
          "HANGUP",
          "DIGIT",
          "NO_INPUT",
          "NO_MATCH",
          "RECOGNITION"
        ],
        "x-py-enum-mapping": [
          { "enum": "error",         "varname": "ERROR"       },
          { "enum": "hangup",        "varname": "HANGUP"      },
          { "enum": "digit",         "varname": "DIGIT"       },
          { "enum": "noInput",       "varname": "NO_INPUT"    },
          { "enum": "noMatch",       "varname": "NO_MATCH"    },
          { "enum": "recognition",   "varname": "RECOGNITION" }
        ],
        "x-enum": true
      },
      "GrammarFileBuiltIn": {
        "type": "string",
        "enum": [
          "ALPHNUM6",
          "ANY_DIG",
          "DIG1",
          "DIG2",
          "DIG3",
          "DIG4",
          "DIG5",
          "DIG6",
          "DIG7",
          "DIG8",
          "DIG9",
          "DIG10",
          "DIG11",
          "UP_TO_20_DIGIT_SEQUENCE",
          "VERSAY_YESNO"
        ],
        "x-enum-varnames": [
          "ALPHNUM6",
          "ANY_DIG",
          "DIG1",
          "DIG2",
          "DIG3",
          "DIG4",
          "DIG5",
          "DIG6",
          "DIG7",
          "DIG8",
          "DIG9",
          "DIG10",
          "DIG11",
          "UP_TO_20_DIGIT_SEQUENCE",
          "VERSAY_YESNO"
        ],
        "x-enum": true
      },
      "GrammarType": {
        "type": "string",
        "enum": ["URL", "BUILTIN"],
        "nullable": true,
        "x-enum-varnames": ["URL", "BUILT_IN"],
        "x-py-enum-mapping": [
          {"enum": "URL", "varname": "URL" },
          {"enum": "BUILTIN", "varname": "BUILT_IN" }
        ],
        "x-enum": true,
        "description": "The grammar file type to use for speech recognition. A value of 'URL' indicates the grammarFile attribute specifies a URL that points to the grammar file. A value of `BUILTIN` indicates the grammarFile attribute specifies the name of one of the platform built-in grammar files."
      },
      "IfMachine": {
        "type": "string",
        "enum": ["redirect", "hangup"],
        "x-enum-varnames": ["REDIRECT", "HANGUP"],
        "x-enum": true,
        "description": "Specifies how FreeClimb should handle this OutDial if an answering machine answers the Call. Valid values: `redirect` invokes the ifMachineUrl for instructions. `hangup` hangs up the Call. The ifMachineUrl will not be invoked."
      },
      "Language": {
        "type": "string",
        "enum": [
          "ca-ES",
          "da-DK",
          "de-DE",
          "en-AU",
          "en-CA",
          "en-GB",
          "en-IN",
          "en-US",
          "es-ES",
          "es-MX",
          "fi-FI",
          "fr-CA",
          "fr-FR",
          "it-IT",
          "ja-JP",
          "ko-KR",
          "nb-NO",
          "nl-NL",
          "pl-PL",
          "pt-BR",
          "pt-PT",
          "ru-RU",
          "sv-SE",
          "zh-CN",
          "zh-HK",
          "zh-TW"
        ],
        "x-enum-varnames": [
          "CATALAN",
          "DANISH",
          "GERMAN",
          "ENGLISH_AU",
          "ENGLISH_CA",
          "ENGLISH_UK",
          "ENGLISH_IN",
          "ENGLISH_US",
          "ENGLISH_ES",
          "ENGLISH_MX",
          "FINNISH",
          "FRENCH_CA",
          "FRENCH_FR",
          "ITALIAN",
          "JAPANESE",
          "KOREAN",
          "NORWEGIAN",
          "DUTCH",
          "POLISH",
          "PORTUGESE_BR",
          "PORTUGESE_PT",
          "RUSSIAN",
          "SWEDISH",
          "CHINESE_CN",
          "CHINESE_HK",
          "CHINESE_TW"
        ],
        "x-py-enum-mapping": [
           { "enum": "ca-ES", "varname": "CATALAN"},
           { "enum": "da-DK", "varname": "DANISH"},
           { "enum": "de-DE", "varname": "GERMAN"},
           { "enum": "en-AU", "varname": "ENGLISH_AU"},
           { "enum": "en-CA", "varname": "ENGLISH_CA"},
           { "enum": "en-GB", "varname": "ENGLISH_UK"},
           { "enum": "en-IN", "varname": "ENGLISH_IN"},
           { "enum": "en-US", "varname": "ENGLISH_US"},
           { "enum": "es-ES", "varname": "ENGLISH_ES"},
           { "enum": "es-MX", "varname": "ENGLISH_MX"},
           { "enum": "fi-FI", "varname": "FINNISH"},
           { "enum": "fr-CA", "varname": "FRENCH_CA"},
           { "enum": "fr-FR", "varname": "FRENCH_FR"},
           { "enum": "it-IT", "varname": "ITALIAN"},
           { "enum": "ja-JP", "varname": "JAPANESE"},
           { "enum": "ko-KR", "varname": "KOREAN"},
           { "enum": "nb-NO", "varname": "NORWEGIAN"},
           { "enum": "nl-NL", "varname": "DUTCH"},
           { "enum": "pl-PL", "varname": "POLISH"},
           { "enum": "pt-BR", "varname": "PORTUGESE_BR"},
           { "enum": "pt-PT", "varname": "PORTUGESE_PT"},
           { "enum": "ru-RU", "varname": "RUSSIAN"},
           { "enum": "sv-SE", "varname": "SWEDISH"},
           { "enum": "zh-CN", "varname": "CHINESE_CN"},
           { "enum": "zh-HK", "varname": "CHINESE_HK"},
           { "enum": "zh-TW", "varname": "CHINESE_TW"}
        ],
        "x-enum": true
      },
      "LogLevel": {
        "type": "string",
        "enum": ["info", "warning", "error"],
        "nullable": true,
        "x-enum-varnames": ["INFO", "WARNING", "ERROR"],
        "x-enum": true,
        "description": "Level of the log. Possible values are info, warning, and error."
      },
      "MachineType": {
        "type": "string",
        "enum": ["answering machine", "fax modem"],
        "x-enum-varnames": ["ANSWERING_MACHINE", "FAX_MODEM"],
        "x-enum": true
      },
      "MessageDirection": {
        "type": "string",
        "enum": ["inbound", "outbound"],
        "x-enum-varnames": ["INBOUND", "OUTBOUND"],
        "x-enum": true
      },
      "MessageStatus": {
        "type": "string",
        "nullable": true,
        "description": "Indicates the state of the message through the message lifecycle including: new, queued, rejected, sending, sent, failed, received, undelivered, expired, deleted, and unknown",
        "enum": [
          "new",
          "queued",
          "rejected",
          "sending",
          "sent",
          "failed",
          "received",
          "undelivered",
          "expired",
          "deleted",
          "unknown"
        ],
        "x-enum-varnames": [
          "NEW",
          "QUEUED",
          "REJECTED",
          "SENDING",
          "SENT",
          "FAILED",
          "RECEIVED",
          "UNDELIVERED",
          "EXPIRED",
          "DELETED",
          "UNKNOWN"
        ],
        "x-enum": true
      },
      "PlayBeep": {
        "type": "string",
        "nullable": true,
        "enum": ["always", "never", "entryOnly", "exitOnly"],
        "x-enum-varnames": ["ALWAYS", "NEVER", "ENTRY_ONLY", "EXIT_ONLY"],
        "x-py-enum-mapping": [
          { "enum": "always", "varname": "ALWAYS" },
          { "enum": "never", "varname": "NEVER" },
          { "enum": "entryOnly", "varname": "ENTRY_ONLY" },
          { "enum": "exitOnly", "varname": "EXIT_ONLY" }
        ],
        "x-enum": true,
        "description": "Indicates whether to play a beep when a Participant enters or leaves the Conference. either `always`, `never`, `entryOnly`, or `exitOnly`. Leaving this unset will make conference default to `always` ",
        "x-enum-default-attr": "ALWAYS"
      },
      "QueueResultStatus": {
        "type": "string",
        "enum": ["queueFull", "dequeued", "hangup", "systemError"],
        "x-enum-varnames": ["QUEUE_FULL", "DEQUEUED", "HANGUP", "SYSTEM_ERROR"],
        "x-py-enum-mapping": [
          { "enum": "queueFull", "varname": "QUEUE_FULL" },
          { "enum": "dequeued",  "varname": "DEQUEUED" },
          { "enum": "hangup", "varname": "HANGUP" },
          { "enum": "systemError", "varname": "SYSTEM_ERROR" }
        ],
        "x-enum": true
      },
      "RecordUtteranceTermReason": {
        "type": "string",
        "enum": ["finishKey", "timeout", "hangup", "maxLength"],
        "x-enum-varnames": ["FINISH_KEY", "TIMEOUT", "HANGUP", "MAX_LENGTH"],
        "x-py-enum-mapping": [
          { "enum": "finishKey", "varname": "FINISH_KEY" },
          { "enum": "timeout",   "varname": "TIMEOUT"    },
          { "enum": "hangup",    "varname": "HANGUP" },
          { "enum": "maxLength", "varname": "MAX_LENGTH" }
        ],
        "x-enum": true
      },
      "BargeInReason": {
        "type": "string",
        "enum": ["noBargeIn", "bargeInByDTMF", "bargeInByEnergy"],
        "x-enum-varnames": ["NO_BARGE_IN", "BARGE_IN_BY_DTMF", "BARGE_IN_BY_ENERGY"],
        "x-py-enum-mapping": [
           { "enum": "noBargeIn",       "varname": "NO_BARGE_IN" },
           { "enum": "bargeInByDTMF",   "varname": "BARGE_IN_BY_DTMF" },
           { "enum": "bargeInByEnergy", "varname": "BARGE_IN_BY_ENERGY" }
        ],
        "x-enum": true
      },
      "TranscribeTermReason": {
        "type": "string",
        "enum": ["error", "completed"],
        "x-enum-varnames": ["ERROR", "COMPLETED"],
        "x-enum": true
      },
      "TranscribeReason": {
        "type": "string",
        "x-enum": true,
        "enum": ["internalError", "hangup", "maxLength", "digit", "noInput"],
        "x-enum-varnames": ["INTERNAL_ERROR", "HANGUP", "MAX_LENGTH", "DIGIT", "NO_INPUT"],
        "x-py-enum-mapping": [
          { "enum": "internalError" , "varname": "INTERNAL_ERROR" },
          { "enum": "hangup" , "varname": "HANGUP" },
          { "enum": "maxLength", "varname": "MAX_LENGTH" },
          { "enum": "digit", "varname": "DIGIT" },
          { "enum": "noInput" , "varname": "NO_INPUT" }
        ]
      },
      "RequestType": {
        "type": "string",
        "enum": [
          "inboundCall",
          "record",
          "getDigits",
          "getSpeech",
          "redirect",
          "pause",
          "outDialStart",
          "outDialConnect",
          "outDialApiConnect",
          "machineDetected",
          "dequeue",
          "queueWait",
          "addToQueueNotification",
          "removeFromQueueNotification",
          "callStatus",
          "createConference",
          "conferenceStatus",
          "leaveConference",
          "addToConferenceNotification",
          "conferenceRecordingStatus",
          "conferenceCallControl",
          "messageDelivery",
          "messageStatus"
        ],
        "x-enum-varnames": [
          "INBOUND_CALL",
          "RECORD",
          "GET_DIGITS",
          "GET_SPEECH",
          "REDIRECT",
          "PAUSE",
          "OUT_DIAL_START",
          "OUT_DIAL_CONNECT",
          "OUT_DIAL_API_CONNECT",
          "MACHINE_DETECTED",
          "DEQUEUE",
          "QUEUE_WAIT",
          "ADD_TO_QUEUE_NOTIFICATION",
          "REMOVE_FROM_QUEUE_NOTIFICATION",
          "CALL_STATUS",
          "CREATE_CONFERENCE",
          "CONFERENCE_STATUS",
          "LEAVE_CONFERENCE",
          "ADD_TO_CONFERENCE_NOTIFICATION",
          "CONFERENCE_RECORDING_STATUS",
          "CONFERENCE_CALL_CONTROL",
          "MESSAGE_DELIVERY",
          "MESSAGE_STATUS"
        ],
        "x-py-enum-mapping": [
            { "enum": "inboundCall",                "varname": "INBOUND_CALL" },
            { "enum": "record",                     "varname": "RECORD" },
            { "enum": "getDigits",                  "varname": "GET_DIGITS" },
            { "enum": "getSpeech",                  "varname": "GET_SPEECH" },
            { "enum": "redirect",                   "varname": "REDIRECT" },
            { "enum": "pause",                      "varname": "PAUSE" },
            { "enum": "outDialStart",               "varname": "OUT_DIAL_START" },
            { "enum": "outDialConnect",             "varname": "OUT_DIAL_CONNECT" },
            { "enum": "outDialApiConnect",          "varname": "OUT_DIAL_API_CONNECT" },
            { "enum": "machineDetected",            "varname": "MACHINE_DETECTED" },
            { "enum": "dequeue",                    "varname": "DEQUEUE" },
            { "enum": "queueWait",                  "varname": "QUEUE_WAIT" },
            { "enum": "addToQueueNotification",     "varname": "ADD_TO_QUEUE_NOTIFICATION" },
            { "enum": "removeFromQueueNotification","varname": "REMOVE_FROM_QUEUE_NOTIFICATION" },
            { "enum": "callStatus",                 "varname": "CALL_STATUS" },
            { "enum": "createConference",           "varname": "CREATE_CONFERENCE" },
            { "enum": "conferenceStatus",           "varname": "CONFERENCE_STATUS" },
            { "enum": "leaveConference",            "varname": "LEAVE_CONFERENCE" },
            { "enum": "addToConferenceNotification","varname": "ADD_TO_CONFERENCE_NOTIFICATION" },
            { "enum": "conferenceRecordingStatus",  "varname": "CONFERENCE_RECORDING_STATUS" },
            { "enum": "conferenceCallControl",      "varname": "CONFERENCE_CALL_CONTROL" },
            { "enum": "messageDelivery",            "varname": "MESSAGE_DELIVERY" },
            { "enum": "messageStatus",               "varname": "MESSAGE_STATUS" }
        ],
        "x-enum": true
      },
      "UpdateCallRequestStatus": {
        "type": "string",
        "enum": ["canceled", "completed"],
        "x-enum-varnames": ["CANCELED", "COMPLETED"],
        "x-enum": true,
        "description": "Either `canceled` or `completed`.  Specifying `canceled` attempts to hang up calls that are queued without affecting calls already in progress. Specifying `completed` attempts to hang up a call already in progress."
      },
      "UpdateConferenceRequestStatus": {
        "type": "string",
        "enum": ["empty", "terminated"],
        "x-enum-varnames": ["EMPTY", "TERMINATED"],
        "x-enum": true,
        "description": "New status of the conference. Valid values: `empty` or `terminated`. For more information, see **Status Parameter** below.**"
      },
      "SMSTollFreeCampaignRegistrationStatus": {
        "type": "string",
        "description": "Current toll-free campaign registration status.Possible values: UNREGISTERED,INITIATED,PENDING,DECLINED,REGISTERED. A newly created campaign defaults to INITIATED status. ",
        "x-enum": true,
        "enum": [
          "UNREGISTERED",
          "INITIATED",
          "PENDING",
          "DECLINED",
          "REGISTERED"
        ],
        "x-enum-varnames": [
          "UNREGISTERED",
          "INITIATED",
          "PENDING",
          "DECLINED",
          "REGISTERED"
        ]
      },
      "SMSTenDLCCampaignStatus": {
        "type": "string",
        "description": "Current campaign status. Possible values: ACTIVE, EXPIRED. A newly created campaign defaults to ACTIVE status. ",
        "x-enum": true,
        "enum": ["ACTIVE", "EXPIRED"],
        "x-enum-varnames": ["ACTIVE", "EXPIRED"]
      },
      "SMSTenDLCPartnerCampaignStatus": {
        "type": "string",
        "description": "Current campaign status. Possible values: ACTIVE, EXPIRED. A newly created campaign defaults to ACTIVE status. ",
        "x-enum": true,
        "enum": ["ACTIVE", "EXPIRED"],
        "x-enum-varnames": ["ACTIVE", "EXPIRED"]
      },
      "SMSTenDLCBrandEntityType": {
        "maxLength": 20,
        "type": "string",
        "description": "Entity type behind the brand. This is the form of business establishment.",
        "x-enum": true,
        "enum": [
          "PRIVATE_PROFIT",
          "PUBLIC_PROFIT",
          "NON_PROFIT",
          "GOVERNMENT",
          "SOLE_PROPRIETOR"
        ],
        "x-enum-varnames": [
          "PRIVATE_PROFIT",
          "PUBLIC_PROFIT",
          "NON_PROFIT",
          "GOVERNMENT",
          "SOLE_PROPRIETOR"
        ]
      },
      "SMSTenDLCBrandRelationship": {
        "type": "string",
        "description": "Brand relationship to the CSP",
        "x-enum": true,
        "enum": [
          "BASIC_ACCOUNT",
          "SMALL_ACCOUNT",
          "MEDIUM_ACCOUNT",
          "LARGE_ACCOUNT",
          "KEY_ACCOUNT"
        ],
        "x-enum-varnames": [
          "BASIC_ACCOUNT",
          "SMALL_ACCOUNT",
          "MEDIUM_ACCOUNT",
          "LARGE_ACCOUNT",
          "KEY_ACCOUNT"
        ]
      },
      "SMSTenDLCBrandStockExchange": {
        "type": "string",
        "description": "(Required for public company) stock exchange.",
        "x-enum": true,
        "example": "NASDAQ",
        "enum": [
          "NONE",
          "NASDAQ",
          "NYSE",
          "AMEX",
          "AMX",
          "ASX",
          "B3",
          "BME",
          "BSE",
          "FRA",
          "ICEX",
          "JPX",
          "JSE",
          "KRX",
          "LON",
          "NSE",
          "OMX",
          "SEHK",
          "SGX",
          "SSE",
          "STO",
          "SWX",
          "SZSE",
          "TSX",
          "TWSE",
          "VSE",
          "OTHER"
        ],
        "x-enum-varnames": [
          "NONE",
          "NASDAQ",
          "NYSE",
          "AMEX",
          "AMX",
          "ASX",
          "B3",
          "BME",
          "BSE",
          "FRA",
          "ICEX",
          "JPX",
          "JSE",
          "KRX",
          "LON",
          "NSE",
          "OMX",
          "SEHK",
          "SGX",
          "SSE",
          "STO",
          "SWX",
          "SZSE",
          "TSX",
          "TWSE",
          "VSE",
          "OTHER"
        ]
      },
      "SMSTenDLCBrandAltBusinessIdType": {
        "type": "string",
        "x-enum": true,
        "enum": ["NONE", "DUNS", "GIIN", "LEI"],
        "x-enum-varnames": ["NONE", "DUNS", "GIIN", "LEI"],
        "description": "The type of the Alternative business identifier"
      },
      "SMSTenDLCBrandIdentityStatus": {
        "type": "string",
        "description": "TCR assessment of the brand identification status.",
        "x-enum": true,
        "enum": [
          "SELF_DECLARED",
          "UNVERIFIED",
          "VERIFIED",
          "VETTED_VERIFIED"
        ],
        "x-enum-varnames": [
          "SELF_DECLARED",
          "UNVERIFIED",
          "VERIFIED",
          "VETTED_VERIFIED"
        ]
      },
      "CompletionResultStatus": {
        "type": "string",
        "description": "Completion result status. Possible values: success, no_context",
        "x-enum": true,
        "enum": ["success", "no_context"],
        "x-enum-varnames": ["SUCCESS", "NO_CONTEXT"],
        "x-py-enum-mapping": [
          { "enum": "success", "varname": "SUCCESS" },
          { "enum": "no_context", "varname": "NO_CONTEXT" }
        ]
      },
      "SMSTenDLCOptionalAttributes": {
        "x-is-map": true,
        "type": "object",
        "x-is-hash": true,
        "description": "Optional brand attributes. Please refer to GET /enum/optionalAttributeNames for dictionary of optional attribute names.",
        "additionalProperties": true
      },
      "PerclScript": {
        "type": "object",
        "description": "A PerCL script to be returned to the FreeClimb servers in FreeClimb applications",
        "x-percl-script": true,
        "properties": {
          "commands": {
            "type": "array",
            "description": "A JSON array of PerCL commands",
            "x-is-list": true,
            "items": {
              "$ref": "#/components/schemas/PerclCommand"
            }
          }
        }
      },
      "PerclCommand": {
        "type": "object",
        "description": "An individual command used in a PerCLScript.",
        "x-percl-command-base": true,
        "discriminator": {
          "propertyName": "command",
          "mapping": {
            "AddToConference": "#/components/schemas/AddToConference",
            "CreateConference": "#/components/schemas/CreateConference",
            "Dequeue": "#/components/schemas/Dequeue",
            "Enqueue": "#/components/schemas/Enqueue",
            "GetDigits": "#/components/schemas/GetDigits",
            "GetSpeech": "#/components/schemas/GetSpeech",
            "Hangup": "#/components/schemas/Hangup",
            "OutDial": "#/components/schemas/OutDial",
            "Pause": "#/components/schemas/Pause",
            "Park": "#/components/schemas/Park",
            "Play": "#/components/schemas/Play",
            "PlayEarlyMedia": "#/components/schemas/PlayEarlyMedia",
            "RecordUtterance": "#/components/schemas/RecordUtterance",
            "Redirect": "#/components/schemas/Redirect",
            "Reject": "#/components/schemas/Reject",
            "RemoveFromConference": "#/components/schemas/RemoveFromConference",
            "Say": "#/components/schemas/Say",
            "SendDigits": "#/components/schemas/SendDigits",
            "SetListen": "#/components/schemas/SetListen",
            "SetTalk": "#/components/schemas/SetTalk",
            "SetDTMFPassThrough": "#/components/schemas/SetDTMFPassThrough",
            "Sms": "#/components/schemas/Sms",
            "StartRecordCall": "#/components/schemas/StartRecordCall",
            "TerminateConference": "#/components/schemas/TerminateConference",
            "TranscribeUtterance": "#/components/schemas/TranscribeUtterance",
            "Unpark": "#/components/schemas/Unpark"
          }
        },
        "properties": {
          "command": {
            "x-is-no-property": true,
            "type": "string",
            "description": "Name of PerCL Command (this is automatically derived from mapping configuration and should not be manually supplied in any arguments)"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "x-webhook-base": true,
        "discriminator": {
         "propertyName": "requestType",
         "mapping": {
           "addToConferenceNotification":  "#/components/schemas/AddToConferenceNotificationWebhook",
           "addToQueueNotification": "#/components/schemas/AddToQueueNotificationWebhook",
           "callControl": "#/components/schemas/CallControlWebhook",
           "callStatus": "#/components/schemas/CallStatusWebhook",
           "conferenceRecordingStatus": "#/components/schemas/ConferenceRecordingStatusWebhook",
           "conferenceStatus": "#/components/schemas/ConferenceStatusWebhook",
           "createConference": "#/components/schemas/CreateConferenceWebhook",
           "dequeue": "#/components/schemas/DequeueWebhook",
           "getDigits": "#/components/schemas/GetDigitsWebhook",
           "getSpeech": "#/components/schemas/GetSpeechWebhook",
           "inboundCall": "#/components/schemas/InboundCallWebhook",
           "leaveConference": "#/components/schemas/LeaveConferenceWebhook",
           "machineDetected": "#/components/schemas/MachineDetectedWebhook",
           "messageDelivery": "#/components/schemas/MessageDeliveryWebhook",
           "messageStatus": "#/components/schemas/MessageStatusWebhook",
           "outDialApiConnect": "#/components/schemas/OutDialApiConnectWebhook",
           "outDialConnect": "#/components/schemas/OutDialConnectWebhook",
           "outDialStart": "#/components/schemas/OutDialStartWebhook",
           "queueWait": "#/components/schemas/QueueWaitWebhook",
           "record": "#/components/schemas/RecordWebhook",
           "redirect": "#/components/schemas/RedirectWebhook",
           "removeFromQueueNotification": "#/components/schemas/RemoveFromQueueNotificationWebhook",
           "transcribe": "#/components/schemas/TranscribeWebhook"
         }
        },
        "properties": {
          "requestType": {
            "x-is-no-property": true,
            "x-webhook-base": true,
            "type": "string",
            "description": "Type of webhook request"
          }
        }
      },
      "AddToConferenceNotificationWebhook": {
        "x-webhook": "addToConferenceNotification",
        "description": "A Call has been bridged to a Conference and the AddToConference command’s notificationUrl is being invoked. This is a notification only; any PerCL returned will be ignored.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be addToConferenceNotification - A Call has been bridged to a conference and the addToConference command’s notificationUrl is being invoked."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "Unique ID of the Conference."
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "status": {
                "$ref": "#/components/schemas/ConferenceStatus"
              },
              "recordingUrl": {
                "type": "string",
                "description": "URL of the Conference’s recorded audio. Populated only if a Recording exists and the Conference was emptied."
              },
              "recordingId": {
                "type": "string",
                "description": "Unique ID of the Recording from this Conference. Populated only if a recording exists and the Conference was emptied."
              },
              "recordingDurationSec": {
                "type": "integer",
                "description": "Duration of the recorded audio (in seconds), rounded up to the nearest second. Populated only if a Recording exists and the Conference was emptied."
              }
            }
          }
        ]
      },
      "AddToQueueNotificationWebhook": {
        "x-webhook": "addToQueueNotification",
        "description": "A Call has been added to a Queue and the Enqueue command’s notificationUrl is being invoked. This is a notification only; any PerCL returned will be ignored.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be addToQueueNotification - A call has been added to a queue and the Enqueue command’s notificationUrl is being invoked."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "Unique ID of the Conference."
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              }
            }
          }
        ]
      },
      "CallControlWebhook": {
        "x-webhook": "callControl",
        "description": "The digit sequence defined in the callControlSequence attribute of the AddToConference PerCL command has been entered by the Conference participant. A PerCL response is expected. If invalid PerCL is provided, the call leg which triggered this webhook will terminate.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be callControl."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "conferenceId": {
                "type": "string",
                "description": "Unique ID of the Conference."
              },
              "digits": {
                "type": "string",
                "description": "String of digits entered by the participant."
              }
            }
          }
        ]
      },
      "CallStatusWebhook": {
        "x-webhook": "callStatus",
        "description": "A Call has ended and the statusCallbackUrl is being invoked. This is a notification only; All PerCL commands will be ignored.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be callStatus - A Call has ended and the statusCallbackUrl is being invoked."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "callEndedReason": {
                "$ref": "#/components/schemas/CallEndedReason"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "Unique ID of the Conference."
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              }
            }
          }
        ]
      },
      "ConferenceRecordingStatusWebhook": {
        "x-webhook": "conferenceRecordingStatus",
        "description": "The statusCallbackUrl request includes Recording information for a Conference that ended. This is a notification only; any PerCL returned will be ignored.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be conferenceRecordingStatus - The statusCallbackUrl request includes Recording information for a Conference that ended."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "Unique ID of the Conference."
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "status": {
                "$ref": "#/components/schemas/ConferenceStatus"
              },
              "recordingUrl": {
                "type": "string",
                "description": "URL of the Conference’s recorded audio. Populated only if a Recording exists and the Conference was emptied."
              },
              "recordingId": {
                "type": "string",
                "description": "Unique ID of the Recording from this Conference. Populated only if a recording exists and the Conference was emptied."
              },
              "recordingDurationSec": {
                "type": "integer",
                "description": "Duration of the recorded audio (in seconds), rounded up to the nearest second. Populated only if a Recording exists and the Conference was emptied."
              }
            }
          }
        ]
      },
      "ConferenceStatusWebhook": {
        "x-webhook": "conferenceStatus",
        "description": "The context or reason why this request is being made. Will be conferenceStatus - A Conference's status changed and its statusCallbackUrl is being invoked.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be conferenceRecordingStatus - The statusCallbackUrl request includes Recording information for a Conference that ended."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "Unique ID of the Conference."
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "status": {
                "$ref": "#/components/schemas/ConferenceStatus"
              },
              "recordingUrl": {
                "type": "string",
                "description": "The URL of the Conference’s recorded audio. Populated only if a Recording exists and the Conference was emptied. Present only if statusCallbackUrl is being invoked.",
                "nullable": true
              },
              "recordingId": {
                "type": "string",
                "description": "The unique ID of the Recording from this Conference. Populated only if a Recording exists and the Conference was emptied. Present only if statusCallbackUrl is being invoked.",
                "nullable": true
              },
              "recordingDurationSec": {
                "type": "integer",
                "description": "The duration of the recorded audio rounded up to the nearest second (in seconds). Populated only if a Recording exists and the Conference was emptied. Present only if statusCallbackUrl is being invoked.",
                "nullable": true
              }
            }
          }
        ]
      },
      "CreateConferenceWebhook": {
        "x-webhook": "createConference",
        "description": "A Conference has been created and its statusCallbackUrl or actionUrl is being invoked. A PerCL response is expected if the actionUrl is being invoked.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be createConference - A Conference has been created and its statusCallbackUrl or actionUrl is being invoked."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "Unique ID of the Conference."
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "status": {
                "$ref": "#/components/schemas/ConferenceStatus"
              },
              "recordingUrl": {
                "type": "string",
                "description": "The URL of the Conference’s recorded audio. Populated only if a Recording exists and the Conference was emptied. Present only if statusCallbackUrl is being invoked.",
                "nullable": true
              },
              "recordingId": {
                "type": "string",
                "description": "The unique ID of the Recording from this Conference. Populated only if a Recording exists and the Conference was emptied. Present only if statusCallbackUrl is being invoked.",
                "nullable": true
              },
              "recordingDurationSec": {
                "type": "integer",
                "description": "The duration of the recorded audio rounded up to the nearest second (in seconds). Populated only if a Recording exists and the Conference was emptied. Present only if statusCallbackUrl is being invoked.",
                "nullable": true
              }
            }
          }
        ]
      },
      "DequeueWebhook": {
        "x-webhook": "dequeue",
        "description": "A queued call has been dequeued and the actionUrl of the corresponding Enqueue action is being invoked. A PerCL response is expected.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be dequeue - A queued call has been dequeued and the actionUrl of the corresponding Enqueue action is being invoked."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "Unique ID of the Conference."
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueResult": {
                "type": "string",
                "description": "The final result of the enqueued Call. Valid values are: •dequeued - Enqueued caller exited the Queue via a Dequeue action (Dequeue command or Queue Members POST REST API)."
              },
              "queueTime": {
                "type": "integer",
                "description": "Time (in seconds) the call spent in the Queue. This is only available if the Call was actually enqueued.",
                "nullable": true
              }
            }
          }
        ]
      },
      "GetDigitsWebhook": {
        "x-webhook": "getDigits",
        "description": "A POST request with the following fields will be sent to the actionUrl provided in your GetDigits command.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be getDigits - The GetDigits command has completed and its actionUrl is being invoked."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "Unique ID of the Conference."
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "digits": {
                "type": "string",
                "description": "tring of digits entered by the Caller, excluding the terminating digit (if used). The string of digits will be replaced by 'xxxxx' when privacyMode is set to true"
              },
              "reason": {
                "$ref": "#/components/schemas/GetDigitsReason"
              },
              "parentCallId": {
                "type": "string",
                "description": "ID of the Call that created this leg (child call)."
              }
            }
          }
        ]
      },
      "GetSpeechWebhook": {
        "x-webhook": "getSpeech",
        "description": "The GetSpeech command has completed and its actionUrl is being invoked. A PerCL response is expected, unless reason is hangup.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be getSpeech - The GetSpeech command has completed and its actionUrl is being invoked."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "Unique ID of the Conference."
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "reason": {
                "$ref": "#/components/schemas/GetSpeechReason"
              },
              "recognitionResult": {
                "type": "string",
                "description": "Semantic content (either a string if speech was recognized or a digit if a digit was input instead of speech) returned from the entry or tag that was recognized within the grammar. The content will be replaced by 'xxxxx' when privacyMode is set to true. This field is populated only if the reason field is set to recognition or digit."
              },
              "confidence": {
                "type": "integer",
                "description": "Level of confidence in the obtained result. This is a value in the range 0 to 100 – with 0 being total lack of confidence and 100 being absolute certainty in the recognition. This field is populated only if the reason field is set to recognition."
              },
              "parentCallId": {
                "type": "string",
                "description": "ID of the Call that created this leg (child call)."
              },
              "completionReason": {
                "type": "string",
                "description": "Advanced diagnostic information if reason was error. See RFC 6787 section 9.4.12 - speech recognition."
              },
              "completionCause": {
                "type": "string",
                "description": "Advanced diagnostic information if reason was error. See RFC 6787 section 9.4.11 - speech recognition."
              },
              "mrcpCode": {
                "type": "integer",
                "description": "Advanced diagnostic information if reason was error. See RFC 6787 section 5.4 - MRCPv2 specification."
              },
              "mrcpDiagnostic": {
                "type": "string",
                "description": "Advanced diagnostic information if reason was error. See RFC 6787 section 5.4 - MRCPv2 specification."
              }
            }
          }
        ]
      },
      "InboundCallWebhook": {
        "x-webhook": "inboundCall",
        "description": "An inbound Call to a number registered on FreeClimb will trigger a request to the voiceUrl of the application the number is assigned to. FreeClimb expects to receive PerCL in response to this request in order to process the Call. The following parameters are sent as the POST body.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be inboundCall - An inbound call was received and the voiceUrl is being invoked."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "This is only populated if request pertains to a Conference. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "parentCallId": {
                "nullable": true
              }
            }
          }
        ]
      },
      "LeaveConferenceWebhook": {
        "x-webhook": "leaveConference",
        "description": "A Call has been unbridged from a Conference and its leaveConferenceUrl is being invoked. A PerCL response is expected — unless the URL is invoked due to the participant hanging up.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be leaveConference - Call has been unbridged from a Conference and its leaveConferenceUrl is being invoked."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb. This is the call leg which has left the Conference"
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "This is only populated if request pertains to a Conference. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              }
            }
          }
        ]
      },
      "MachineDetectedWebhook": {
        "x-webhook": "machineDetected",
        "description": "An outbound call spawned by OutDial detected an answer by a machine (answering machine or fax/modem machine) and ifMachineUrl is being invoked. A PerCL response is expected.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be machineDetected - An outbound call spawned by OutDial was answered by a machine and the ifMachineUrl is being invoked."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for this Call, generated by FreeClimb."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "This is only populated if request pertains to a Conference. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a Queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "parentCallId": {
                "type": "string",
                "description": "Call ID of the leg which initiated the OutDial."
              },
              "machineType": {
                "$ref": "#/components/schemas/MachineType"
              }
            }
          }
        ]
      },
      "MessageDeliveryWebhook": {
        "x-webhook": "messageDelivery",
        "description": "An SMS has been received by the platform and is being delivered to the smsUrl of the customer application that is associated with the destination number. A PerCL response will be ignored.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Value will be messageDelivery - An SMS message has been received by the platform and is being delivered to the customer application associated with the destination number."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to you and to which this Call is directed (in E.164 format)."
              },
              "text": {
                "type": "string",
                "description": "Body of the SMS message."
              },
              "direction": {
                "type": "string",
                "description": "Value will be inbound to indicate the receipt of a message into the FreeClimb platform."
              },
              "applicationId": {
                "type": "string",
                "description": "ID of the application to which the destination number is assigned."
              },
              "status": {
                "type": "string",
                "description": "Value will be received to indicate that the platform has successfully received the incoming message."
              },
              "phoneNumberId": {
                "type": "string",
                "description": "ID of the destination phone number."
              },
              "uri": {
                "type": "string",
                "description": "The URI for this resource, relative to the API base URL"
              }
            }
          }
        ]
      },
      "MessageStatusWebhook": {
        "x-webhook": "messageStatus",
        "description": "An outbound SMS has changed status and the notificationUrl from the Sms command or Send an SMS request is being invoked. A PerCL response will be ignored.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Value will be messageStatus - An outbound SMS has changed status and the Sms command's notificationUrl is being invoked."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "messageId": {
                "type": "string",
                "description": "Unique ID for this message, generated by FreeClimb."
              },
              "callId": {
                "type": "string",
                "description": "Unique ID for the Call in the context of which the Sms PerCL command was issued."
              },
              "from": {
                "type": "string",
                "description": "aPhone number used to initiate the SMS message (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Destination number of the SMS message (in E.164 format)."
              },
              "text": {
                "type": "string",
                "description": "Body of the SMS message."
              },
              "direction": {
                "type": "string",
                "description": "Value will be outbound to indicate an outgoing SMS from FreeClimb."
              },
              "applicationId": {
                "type": "string",
                "description": "ID of the application to which the destination number is assigned. May be null if the originating number is invalid in some way or is not registered to an application."
              },
              "status": {
                "$ref": "#/components/schemas/MessageStatus"
              },
              "phoneNumberId": {
                "type": "string",
                "description": "ID of the destination phone number."
              }
            }
          }
        ]
      },
      "OutDialApiConnectWebhook": {
        "x-webhook": "outDialApiConnect",
        "description": "An outbound call initiated by the REST API has connected and the callConnectUrl specified in the API request is being invoked. A PerCL response is expected if the call was successfully connected (with status of inProgress).",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be outDialApiConnect - An outbound call spawned by the REST API has connected and the callConnectUrl specified in the API request is being invoked."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "callId": {
                "type": "string",
                "description": "Unique identifier for this Call, generated by FreeClimb"
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number or SIP URL of the party that is receiving the call (phone number in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "This is only populated if request pertains to a conference. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "parentCallId": {
                "type": "string",
                "description": "ID of the Call that created this leg (child call)."
              }
            }
          }
        ]
      },
      "OutDialConnectWebhook": {
        "x-webhook": "outDialConnect",
        "description": "A Call generated by OutDial has connected and the callConnectUrl is being invoked. This request is made in the context of the Call leg that was generated using OutDial and not the parent (the OutDialStart webhook is invoked on the parent call to continue that call context). A PerCL response is expected if the call was successfully connected (as indicated by status of inProgress) and begins the execution context for this (child) call.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be outDialConnect - A Call generated by OutDial has connected and the callConnectUrl is being invoked."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "callId": {
                "type": "string",
                "description": "Unique identifier for this Call, generated by FreeClimb"
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number or SIP URL of the party that is receiving the call (phone number in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "This is only populated if request pertains to a conference. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "parentCallId": {
                "type": "string",
                "description": "ID of the Call that created this leg (child call)."
              }
            }
          }
        ]
      },
      "OutDialStartWebhook": {
        "x-webhook": "outDialStart",
        "description": "The OutDial command has started and the actionUrl is being invoked. This request is made in the context of the parent call (Call leg that invoked). A PerCL response is expected.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be outDialStart - The OutDial command has started and the actionUrl is being invoked."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "callId": {
                "type": "string",
                "description": "Unique identifier for this Call, generated by FreeClimb"
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to the customer and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "This is only populated if request pertains to a conference. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "dialCallId": {
                "type": "string",
                "description": "ID of the child call that was generated as a result of the Outdial."
              },
              "parentCallId": {
                "type": "string",
                "description": "ID of the Call that created this leg (child call). If this was an inbound call or call created via REST API with no parent, this field will be null.",
                "nullable": true
              }
            }
          }
        ]
      },
      "QueueWaitWebhook": {
        "x-webhook": "queueWait",
        "description": "A queued Call is requesting instructions to execute during the wait in the Queue and the corresponding waitUrl is being invoked. A PerCL response is expected. The following are the only PerCL commands supported in the PerCL script response to a request to the waitUrl: Play,Say,Pause,GetDigits,Dequeue,Hangup",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be queueWait - A queued call is requesting instructions to execute during the wait in the queue and the corresponding waitUrl is being invoked."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "callId": {
                "type": "string",
                "description": "Unique identifier for this Call, generated by FreeClimb"
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to the customer and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "This is only populated if request pertains to a conference. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "queuePosition": {
                "type": "string",
                "description": "Current queue position of the enqueued Call."
              },
              "queueTime": {
                "type": "integer",
                "description": "Time (in seconds) the Call spent in the Queue. This is only available if the Call was actually enqueued."
              },
              "currentQueueSize": {
                "type": "integer",
                "description": "Current number of enqueued Calls in this Queue."
              }
            }
          }
        ]
      },
      "RecordWebhook": {
        "x-webhook": "record",
        "description": "The RecordUtterance command has completed and its actionUrl is being invoked.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "The context or reason why this request is being made. Will be record - The RecordUtterance command has completed and its actionUrl is being invoked."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "callId": {
                "type": "string",
                "description": "Unique identifier for this Call, generated by FreeClimb"
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to the customer and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "This is only populated if request pertains to a conference. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "recordingId": {
                "type": "string",
                "description": "ID of the recording."
              },
              "recordingUrl": {
                "type": "string",
                "description": "URL of the recorded audio file. This URL can be used as is in a Play command to play the recording (no authentication needed). It can also be used to download a recording file via the REST API."
              },
              "recordingSize": {
                "type": "string",
                "description": "Size of the recording in bytes"
              },
              "recordingFormat": {
                "type": "string",
                "description": "File type of the recording (audio/wav)"
              },
              "recordingDurationSec": {
                "type": "integer",
                "description": "Duration of the recorded audio rounded up to the nearest second (in seconds)"
              },
              "termReason": {
                "$ref": "#/components/schemas/RecordUtteranceTermReason"
              },
              "parentCallId": {
                "type": "string",
                "description": "ID of Call that created this leg (child call)."
              },
              "privacyMode": {
                "type": "boolean",
                "description": "If true then it indicates the recording will only be available for download for two minutes prior to it being deleted. This is to minimize risk of anyone else getting access to the url and attempting to access it."
              }
            }
          }
        ]
      },
      "RedirectWebhook": {
        "x-webhook": "redirect",
        "description": "The Redirect command is executing and its actionUrl is being invoked. A PerCL response is expected.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be redirect - The Redirect command is executing and its actionUrl is being invoked."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "callId": {
                "type": "string",
                "description": "Unique identifier for this Call, generated by FreeClimb"
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to the customer and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "This is only populated if request pertains to a conference. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "parentCallId": {
                "type": "string",
                "description": "ID of Call that created this leg (child call)."
              }
            }
          }
        ]
      },
      "RemoveFromQueueNotificationWebhook": {
        "x-webhook": "removeFromQueueNotification",
        "description": "A call has been removed from a queue and the Enqueue command’s actionUrl is being invoked. A PerCL response is expected except if reason is hangup.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "Context or reason why this request is being made. Will be removeFromQueueNotification - A Call has been removed from a Queue and the Enqueue command’s actionUrl is being invoked."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "callId": {
                "type": "string",
                "description": "Unique identifier for this Call, generated by FreeClimb"
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to the customer and to which this Call is directed (in E.164 format)."
              },
              "callStatus": {
                "$ref": "#/components/schemas/CallStatus"
              },
              "direction": {
                "$ref": "#/components/schemas/CallDirection"
              },
              "conferenceId": {
                "type": "string",
                "description": "This is only populated if request pertains to a conference. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueId": {
                "type": "string",
                "description": "This is only populated if the request pertains to a queue. Otherwise, it is set to null.",
                "nullable": true
              },
              "queueResult": {
                "$ref": "#/components/schemas/QueueResultStatus"
              },
              "queueTime": {
                "type": "integer",
                "description": "Time (in seconds) the Call spent in the Queue. This is only available if the Call was actually enqueued."
              }
            }
          }
        ]
      },
      "TranscribeWebhook": {
        "x-webhook": "transcribe",
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "string",
                "description": "The context or reason why this request is being made. Will be transcribe - The TranscribeUtterance command has completed and its actionUrl is being invoked."
              },
              "accountId": {
                "type": "string",
                "description": "Account ID associated with your account."
              },
              "callId": {
                "type": "string",
                "description": "Unique identifier for this Call, generated by FreeClimb"
              },
              "from": {
                "type": "string",
                "description": "Phone number of the party that initiated the Call (in E.164 format)."
              },
              "to": {
                "type": "string",
                "description": "Phone number provisioned to the customer and to which this Call is directed (in E.164 format)."
              },
              "recordingId": {
                "type": "string",
                "description": "The ID of the recording. If no recording was made due to errors or the 'saveRecording' flag being disabled this field will be set to null.",
                "nullable": true
              },
              "recordingUrl": {
                "type": "string",
                "description": "The URL of the recorded audio file. This URL can be used as is in a Play command to play the recording (no authentication needed). It can also be used to download the recording file via the REST API.",
                "nullable": true
              },
              "recordingSize": {
                "type": "integer",
                "description": "The size of the recording in bytes."
              },
              "recordingFormat": {
                "type": "string",
                "description": "The media type of the recording.",
                "nullable": true
              },
              "recordingDurationMs": {
                "type": "integer",
                "description": "The duration of the recorded audio in milliseconds."
              },
              "termReason": {
                "$ref": "#/components/schemas/TranscribeTermReason"
              },
              "recordTermReason": {
                "$ref": "#/components/schemas/RecordUtteranceTermReason"
              },
              "digit": {
                "type": "string",
                "description": "If recordTermReason is digit, this will be the digit that was pressed. Otherwise it will be null.",
                "nullable": true
              },
              "privacyForLogging": {
                "type": "boolean",
                "description": "Echo back of the privacyForLogging flag as specified in the transcribe utterance command – confirmation of logging protection has been applied. Can be used by application to know it should also apply protection when handling this request."
              },
              "privacyForRecording": {
                "type": "boolean",
                "description": "Echo back of the privacyForRecording flag as specified in the transcribe utterance command – confirmation of logging protection has been applied. Can be used by application to know it should also apply protection when handling this request."
              },
              "bargeInReason": {
                "$ref": "#/components/schemas/BargeInReason"
              },
              "bargedInPromptNo": {
                "type": "integer"
              },
              "bargedInPromptMs": {
                "type": "integer",
                "description": "duration in ms bargedInPromptNo prompt was executing until barge-in occurred."
              },
              "bargedInPromptLoopNo": {
                "type": "integer"
              },
              "bargeInTimeMs": {
                "type": "integer",
                "description": "epoch time in ms"
              },
              "transcript": {
                "type": "string",
                "description": "Transcribed text of the recording. Can be empty or null. null means there was a failure in transcribing the audio, refer to transcribeReason for detailed failure reason.",
                "nullable": true
              },
              "transcribeReason": {
                "$ref": "#/components/schemas/TranscribeReason"
              },
              "transcriptionDurationMs": {
                "type": "integer",
                "description": "The duration of the audio being transcribed in milliseconds"
              }
            }
          }
        ]
      },
      "AddToConference": {
        "description": "The `AddToConference` command adds a Participant to a Conference. Two Call legs can be bridged together by creating a Conference and adding both Call legs to it via `AddToConference`.",
        "required": ["conferenceId"],
        "x-percl-command": "AddToConference",
        "x-ref-properties": [
          "false",
          "\"TEST_STRING\"",
          "\"TEST_STRING\"",
          "\"TEST_STRING\"",
          "\"TEST_STRING\"",
          "false",
          "\"TEST_STRING\"",
          "false",
          "false"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/PerclCommand"
          },
          {
            "type": "object",
            "required": ["conferenceId"],
            "properties": {
              "allowCallControl": {
                "description": "If `true`, Call control will be enabled for this Participant's Call leg.",
                "type": "boolean"
              },
              "callControlSequence": {
                "description": "Defines a sequence of digits that, when entered by this caller, invokes the `callControlUrl`. Only digits plus '*', and '#' may be used.",
                "type": "string"
              },
              "callControlUrl": {
                "description": "URL to be invoked when this Participant enters the digit sequence defined in the `callControlSequence` attribute.",
                "type": "string"
              },
              "conferenceId": {
                "description": "ID of the Conference to which to add the Participant (Call leg). Conference must exist or an error will result.",
                "type": "string"
              },
              "leaveConferenceUrl": {
                "description": "URL to be invoked when the Participant leaves the Conference. ",
                "type": "string"
              },
              "listen": {
                "description": "If `true`, the Participant joins the Conference with listen privileges. This may be modified later via the REST API or `SetListen` PerCL command.",
                "type": "boolean"
              },
              "notificationUrl": {
                "description": "When the Participant enters the Conference, this URL will be invoked using an HTTP POST request with the standard request parameters.",
                "type": "string"
              },
              "startConfOnEnter": {
                "description": "Flag that indicates whether a Conference starts upon entry of this particular Participant. This is usually set to `true` for moderators and `false` for all other Participants.",
                "type": "boolean"
              },
              "talk": {
                "description": "If `true`, the Participant joins the Conference with talk privileges. This may be modified later via the REST API or `SetTalk` PerCL command. ",
                "type": "boolean"
              },
[...]
