openapi: 3.0.0
info:
  contact:
    email: support@freeclimb.com
    name: FreeClimb API Support
    url: https://www.freeclimb.com/support/
  description: "FreeClimb is a cloud-based application programming interface (API)\
    \ that puts the power of the Vail platform in your hands. FreeClimb simplifies\
    \ the process of creating applications that can use a full range of telephony\
    \ features without requiring specialized or on-site telephony equipment. Using\
    \ the FreeClimb REST API to write applications is easy! You have the option to\
    \ use the language of your choice or hit the API directly. Your application can\
    \ execute a command by issuing a RESTful request to the FreeClimb API. The base\
    \ URL to send HTTP requests to the FreeClimb REST API is: /apiserver. FreeClimb\
    \ authenticates and processes your request."
  title: FreeClimb API
  version: 1.0.0
servers:
- url: https://www.freeclimb.com/apiserver
security:
- fc: []
paths:
  /Accounts/{accountId}:
    get:
      deprecated: false
      operationId: get-an-account
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResult'
          description: Account Details
      summary: Get an Account
      tags: []
    post:
      operationId: update-an-account
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRequest'
        description: Account details to update
      responses:
        "204":
          description: Successful Account update
      summary: Manage an account
      tags: []
  /Accounts/{accountId}/Applications/{applicationId}:
    delete:
      deprecated: false
      operationId: delete-an-application
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this application resource.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful application deletion
      summary: Delete an application
      tags: []
    get:
      deprecated: false
      operationId: get-an-application
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies this application resource.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResult'
          description: Application Details
      summary: Get an Application
      tags: []
    post:
      deprecated: false
      operationId: update-an-application
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies this application resource.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
        description: Application details to update.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResult'
          description: Update Application
      summary: Update an application
      tags: []
  /Accounts/{accountId}/Applications:
    get:
      deprecated: false
      operationId: list-applications
      parameters:
      - description: Return only applications with aliases that exactly match this
          value.
        explode: true
        in: query
        name: alias
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationList'
          description: List of Applications
      summary: List applications
      tags: []
      x-is-paginated: true
    post:
      deprecated: false
      operationId: create-an-application
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
        description: Application Details
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResult'
          description: Application successfuly created
      summary: Create an application
      tags: []
  /AvailablePhoneNumbers:
    get:
      deprecated: false
      operationId: list-available-numbers
      parameters:
      - description: "PCRE-compatible regular expression to filter against `phoneNumber`\
          \ field, which is in E.164 format."
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: State or province of this phone number.
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - description: Country of this phone number.
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Indicates whether the phone number can handle Calls. Typically
          set to true for all numbers.
        explode: true
        in: query
        name: voiceEnabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Indication of whether the phone number can handle sending and
          receiving SMS messages. Typically set to true for all numbers.
        explode: true
        in: query
        name: smsEnabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: capabilities.voice
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: capabilities.sms
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: capabilities.tollFree
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: capabilities.tenDLC
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: capabilities.shortCode
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableNumberList'
          description: Available Numbers List
      summary: List available numbers
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/IncomingPhoneNumbers/{phoneNumberId}:
    delete:
      deprecated: false
      operationId: delete-an-incoming-number
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this phone number resource.
        explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful Incoming Number deletion.
      summary: Delete an Incoming Number
      tags: []
    get:
      deprecated: false
      operationId: get-an-incoming-number
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this phone number resource.
        explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingNumberResult'
          description: Incoming Phone Number result.
      summary: Get an Incoming Number
      tags: []
    post:
      deprecated: false
      operationId: update-an-incoming-number
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this phone number resource.
        explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomingNumberRequest'
        description: Incoming Number details to update
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingNumberResult'
          description: Updated Incoming Phone Number
      summary: Update an Incoming Number
      tags: []
  /Accounts/{accountId}/IncomingPhoneNumbers:
    get:
      deprecated: false
      operationId: list-incoming-numbers
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: Only show incoming phone number resources that match this PCRE-compatible
          regular expression.
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: Only show incoming phone numbers with aliases that exactly match
          this value.
        explode: true
        in: query
        name: alias
        required: false
        schema:
          type: string
        style: form
      - description: State or province of this phone number.
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - description: Country of this phone number.
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: ID of the Application that FreeClimb should contact if a Call
          or SMS arrives for this phone number or a Call from this number is placed.
          An incoming phone number is not useful until associated with an applicationId.
        explode: true
        in: query
        name: applicationId
        required: false
        schema:
          type: string
        style: form
      - description: Indication of whether the phone number has an application linked
          to it.
        explode: true
        in: query
        name: hasApplication
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - deprecated: true
        description: Indicates whether the phone number can handle Calls. Typically
          set to true for all numbers.
        explode: true
        in: query
        name: voiceEnabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - deprecated: true
        description: Indication of whether the phone number can handle sending and
          receiving SMS messages. Typically set to true for all numbers.
        explode: true
        in: query
        name: smsEnabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Indication of whether the phone number has a campaign associated
          with it
        explode: true
        in: query
        name: hasCampaign
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: capabilities.voice
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: capabilities.sms
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: capabilities.tollFree
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: capabilities.tenDLC
        required: false
        schema:
          type: boolean
        style: form
      - description: ""
        explode: true
        in: query
        name: capabilities.shortCode
        required: false
        schema:
          type: boolean
        style: form
      - description: Only show incoming phone number resources that have been assigned
          to the provided TFNCampaign ID.
        explode: true
        in: query
        name: tfn.campaignId
        required: false
        schema:
          type: string
        style: form
      - description: Indication of whether the phone number was registered as an offnet
          number. This field will be rendered only for requests to the IncomingPhone
          number resource.
        explode: true
        in: query
        name: offnet
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingNumberList'
          description: List of Incoming Phone Numbers
      summary: List Incoming Numbers
      tags: []
      x-is-paginated: true
    post:
      deprecated: false
      operationId: buy-a-phone-number
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyIncomingNumberRequest'
        description: Incoming Number transaction details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingNumberResult'
          description: Successful Incoming Number transaction
      summary: Buy a Phone Number
      tags: []
  /Accounts/{accountId}/KnowledgeBases/{knowledgeBaseId}/Completion:
    post:
      deprecated: false
      operationId: create-knowledge-base-completion
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies the KnowledgeBase resource.
        explode: false
        in: path
        name: knowledgeBaseId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
        description: Completion request details
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionResult'
          description: KnowledgeaBase completion response
      summary: Query the knowledge base
      tags: []
  /Accounts/{accountId}/Calls/{callId}:
    get:
      deprecated: false
      operationId: get-a-call
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this call resource.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResult'
          description: Call Resource
      summary: Get a Call
      tags: []
    post:
      deprecated: false
      operationId: update-a-live-call
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this call resource.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCallRequest'
        description: Call details to update
        required: true
      responses:
        "202":
          description: Successfully queued call
      summary: Update a Live Call
      tags: []
  /Accounts/{accountId}/Calls:
    get:
      deprecated: false
      operationId: list-calls
      parameters:
      - description: "If active is set to true then all calls of the nature queued,\
          \ ringing, inProgress are returned in the query."
        explode: true
        in: query
        name: active
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Only show Calls to this phone number.
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: Only show Calls from this phone number.
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "Only show Calls currently in this status. May be `queued`, `ringing`,\
          \ `inProgress`, `canceled`, `completed`, `failed`, `busy`, or `noAnswer`."
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/CallStatus'
        style: form
      - description: "Only show Calls that started at or after this time, given as\
          \ YYYY-MM-DD hh:mm:ss."
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: string
        style: form
      - description: "Only show Calls that ended at or before this time, given as\
          \ YYYY-MM- DD hh:mm:ss."
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: string
        style: form
      - description: Only show Calls spawned by the call with this ID.
        explode: true
        in: query
        name: parentCallId
        required: false
        schema:
          type: string
        style: form
      - description: Only show calls belonging to the given applicationId. This parameter
          can be repeated to return calls from multiple Applications.
        explode: true
        in: query
        name: applicationId
        required: false
        schema:
          items:
            pattern: "^AP[0-9a-fA-F]{40}$"
            type: string
          maxItems: 16
          type: array
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallList'
          description: Successful retrieved call list
      summary: List Calls
      tags: []
      x-is-paginated: true
    post:
      deprecated: false
      operationId: make-a-call
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakeCallRequest'
        description: Call details for making a call
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResult'
          description: Call that was created
      summary: Make a Call
      tags: []
  /Accounts/{accountId}/Calls/{callId}/Recordings:
    get:
      deprecated: false
      operationId: list-call-recordings
      parameters:
      - description: "Only show recordings created on the specified date, in the form\
          \ *YYYY-MM-DD*."
        explode: true
        in: query
        name: dateCreated
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this call resource.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingList'
          description: List of recordings for a call
      summary: List Call Recordings
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Calls/{callId}/Logs:
    get:
      deprecated: false
      operationId: list-call-logs
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this call resource.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogList'
          description: Logs for this call
      summary: List Call Logs
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Calls/WebRTC/Token:
    post:
      operationId: make-a-webrtc-jwt
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebRTCToken'
        description: Information needed to craft a JWT compatible with the platforms
          WebRTC APIs
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjEyMzQ1Njc4LCJjdXN0b20iOnsidG8iOiIrMTEyMjMzMzQ0NDQiLCJmcm9tIjoiKzE0NDQ0MzMzMjIxIiwidXNlcyI6MX19.H3UKv7poe0adLoFpilxOtC5dGsE5eb2ZxiuygDPs23E
                type: string
          description: The created JWT
      summary: Make a JWT for WebRTC calling
  /Accounts/{accountId}/Conferences:
    get:
      deprecated: false
      operationId: list-conferences
      parameters:
      - description: "Only show conferences that currently have the specified status.\
          \ Valid values: `empty`, `populated`, `inProgress`, or `terminated`."
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: List Conferences whose alias exactly matches this string.
        explode: true
        in: query
        name: alias
        required: false
        schema:
          type: string
        style: form
      - description: "Only show Conferences that were created on the specified date,\
          \ in the form *YYYY-MM-DD*."
        explode: true
        in: query
        name: dateCreated
        required: false
        schema:
          type: string
        style: form
      - description: "Only show Conferences that were last updated on the specified\
          \ date, in the form *YYYY-MM-DD*."
        explode: true
        in: query
        name: dateUpdated
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceList'
          description: List of Conferences
      summary: List Conferences
      tags: []
      x-is-paginated: true
    post:
      deprecated: false
      operationId: create-a-conference
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConferenceRequest'
        description: Conference to create
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceResult'
          description: Details of created conference
      summary: Create a Conference
      tags: []
  /Accounts/{accountId}/Conferences/{conferenceId}:
    get:
      deprecated: false
      operationId: get-a-conference
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies this conference resource.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceResult'
          description: Successfully retrieved conference
      summary: Get a Conference
      tags: []
    post:
      deprecated: false
      operationId: update-a-conference
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this conference resource.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConferenceRequest'
        description: Conference Details to update
      responses:
        "204":
          description: Successful conference details update
      summary: Update a Conference
      tags: []
  /Accounts/{accountId}/Conferences/{conferenceId}/Participants/{callId}:
    delete:
      deprecated: false
      operationId: remove-a-participant
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: ID of the conference this participant is in.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Call associated with this participant.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successfully deleted conference participant
      summary: Remove a Participant
      tags: []
    get:
      deprecated: false
      operationId: get-a-participant
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: ID of the conference this participant is in.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Call associated with this participant.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceParticipantResult'
          description: Successfully retrieved conference participant
      summary: Get a Participant
      tags: []
    post:
      deprecated: false
      operationId: update-a-participant
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: ID of the conference this participant is in.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Call associated with this participant.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConferenceParticipantRequest'
        description: Conference participant details to update
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceParticipantResult'
          description: Successfully retrieved conference participant
      summary: Update a Participant
      tags: []
  /Accounts/{accountId}/Conferences/{conferenceId}/Participants:
    get:
      deprecated: false
      operationId: list-participants
      parameters:
      - description: Only show Participants with the talk privilege.
        explode: true
        in: query
        name: talk
        required: false
        schema:
          type: boolean
        style: form
      - description: Only show Participants with the listen privilege.
        explode: true
        in: query
        name: listen
        required: false
        schema:
          type: boolean
        style: form
      - description: Only show Participants with the dtmfPassThrough privilege.
        explode: true
        in: query
        name: dtmfPassThrough
        required: false
        schema:
          type: boolean
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: ID of the conference this participant is in.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceParticipantList'
          description: Successfully retrieved conference participant list
      summary: List Participants
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Conferences/{conferenceId}/Recordings:
    get:
      deprecated: false
      operationId: list-conference-recordings
      parameters:
      - description: Show only Recordings made during the Call with this ID.
        explode: true
        in: query
        name: callId
        required: false
        schema:
          type: string
        style: form
      - description: "Only show Recordings created on this date, formatted as *YYYY-MM-DD*."
        explode: true
        in: query
        name: dateCreated
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: Show only Recordings made during the conference with this ID.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingList'
          description: List of Recordings
      summary: List Conference Recordings
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Queues/{queueId}:
    get:
      deprecated: false
      operationId: get-a-queue
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies this queue resource.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueResult'
          description: Successfully retrieved queue
      summary: Get a Queue
      tags: []
    post:
      deprecated: false
      operationId: update-a-queue
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies this Queue resource.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueRequest'
        description: Queue Details to update
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueResult'
          description: Successfully updated queue
      summary: Update a Queue
      tags: []
  /Accounts/{accountId}/Queues:
    get:
      deprecated: false
      operationId: list-active-queues
      parameters:
      - description: Return only the Queue resources with aliases that exactly match
          this name.
        explode: true
        in: query
        name: alias
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueList'
          description: Successfuly retrieved queue list
      summary: List Active Queues
      tags: []
      x-is-paginated: true
    post:
      deprecated: false
      operationId: create-a-queue
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueRequest'
        description: Queue details used to create a queue
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueResult'
          description: Successfuly created queue
      summary: Create a Queue
      tags: []
  /Accounts/{accountId}/Queues/{queueId}/Members/Front:
    get:
      deprecated: false
      operationId: get-head-member
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies the Queue that the Member belongs
          to.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMember'
          description: Successfully retrieved queue member
      summary: Get Head Member
      tags: []
    post:
      deprecated: false
      operationId: dequeue-head-member
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this queue resource.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMember'
          description: Accepted dequeue request
      summary: Dequeue Head Member
      tags: []
  /Accounts/{accountId}/Queues/{queueId}/Members:
    get:
      deprecated: false
      operationId: list-members
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies the Queue that the Member belongs
          to.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMemberList'
          description: Successfully retrieved queue member list
      summary: List Members
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Queues/{queueId}/Members/{callId}:
    get:
      deprecated: false
      operationId: get-a-member
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies the Queue that the Member belongs
          to.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Call that the Member belongs to
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMember'
          description: Successfully retrieved a queue member
      summary: Get a Member
      tags: []
    post:
      deprecated: false
      operationId: dequeue-a-member
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies the Queue that the Member belongs
          to.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      - description: ID if the Call that the Member belongs to
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMember'
          description: Accepted dequeue request
      summary: Dequeue a Member
      tags: []
  /Accounts/{accountId}/Logs:
    get:
      deprecated: false
      operationId: list-all-account-logs
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogList'
          description: Successfully retrieved log list
      summary: List All Account Logs
      tags: []
      x-is-paginated: true
    post:
      deprecated: false
      operationId: filter-logs
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterLogsRequest'
        description: Filter logs request paramters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogList'
          description: Successfully retrieved log list
      summary: Filter Logs
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Recordings:
    get:
      deprecated: false
      operationId: list-recordings
      parameters:
      - description: Show only Recordings made during the Call with this ID.
        explode: true
        in: query
        name: callId
        required: false
        schema:
          type: string
        style: form
      - description: Show only Recordings made during the conference with this ID.
        explode: true
        in: query
        name: conferenceId
        required: false
        schema:
          type: string
        style: form
      - description: "Only show Recordings created on this date, formatted as *YYYY-MM-DD*."
        explode: true
        in: query
        name: dateCreated
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingList'
          description: List of Recordings
      summary: List Recordings
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Recordings/{recordingId}:
    delete:
      deprecated: false
      operationId: delete-a-recording
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this recording resource.
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Recording Deleted
      summary: Delete a Recording
      tags: []
    get:
      deprecated: false
      operationId: get-a-recording
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this recording resource.
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingResult'
          description: ""
      summary: Get a Recording
      tags: []
  /Accounts/{accountId}/Recordings/{recordingId}/Stream:
    get:
      deprecated: false
      operationId: stream-a-recording-file
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this recording resource.
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            audio/x-wav:
              schema:
                format: binary
                type: string
          description: Streaming a Recording represented with audio/x-wav mime-type
      summary: Stream a Recording File
      tags: []
  /Accounts/{accountId}/Recordings/{recordingId}/Download:
    get:
      deprecated: false
      operationId: download-a-recording-file
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this recording resource.
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            audio/x-wav:
              schema:
                format: binary
                type: string
          description: Download a Recording file represented with audio/x-wav mime-type
      summary: Download a Recording File
      tags: []
  /Accounts/{accountId}/Messages:
    get:
      deprecated: false
      operationId: list-sms-messages
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: Only show Messages to this phone number.
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: Only show Messages from this phone number.
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: "Only show Messages sent at or after this time (GMT), given as\
          \ *YYYY-MM-DD hh:mm:ss*."
        explode: true
        in: query
        name: beginTime
        required: false
        schema:
          type: string
        style: form
      - description: "Only show messages sent at or before this time (GMT), given\
          \ as *YYYY-MM-DD hh:mm*.."
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: string
        style: form
      - description: Either `inbound` or `outbound`. Only show Messages that were
          either *sent from* or *received by* FreeClimb.
        explode: true
        in: query
        name: direction
        required: false
        schema:
          $ref: '#/components/schemas/MessageDirection'
        style: form
      - description: Only show messages associated with this campaign ID.
        explode: true
        in: query
        name: campaignId
        required: false
        schema:
          type: string
        style: form
      - description: Only show messages associated with this brand ID
        explode: true
        in: query
        name: brandId
        required: false
        schema:
          type: string
        style: form
      - description: Only show messages that were sent as part of a 10DLC campaign.
        explode: true
        in: query
        name: is10DLC
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesList'
          description: List of messages
      summary: List SMS Messages
      tags: []
      x-is-paginated: true
    post:
      deprecated: false
      operationId: send-an-sms-message
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequest'
        description: Details to create a message
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResult'
          description: The message has been accepted.
      summary: Send an SMS Message
      tags: []
  /Accounts/{accountId}/Messages/{messageId}:
    get:
      deprecated: false
      operationId: get-an-sms-message
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this Message resource.
        explode: false
        in: path
        name: messageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResult'
          description: The specific SMS message that’s been processed by FreeClimb
      summary: Get an SMS Message
      tags: []
  /Accounts/{accountId}/Messages/10DLC/Campaigns:
    get:
      deprecated: false
      operationId: get-tenDLC-sms-campaigns
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: The unique identifier for a brand
        explode: true
        in: query
        name: brandId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total: 1
                start: 0
                end: 0
                page: 0
                numPages: 1
                pageSize: 100
                nextPageUri: null
                campaigns:
                - campaignId: C3TMRFL
                  accountId: ACe39970fb7c31c747c67148900b4d9da60a41e532
                  cspId: SKGC6G0
                  brandId: BVCEBIJ
                  usecase: 2FA
                  description: bmabry mock campaign.
                  subUsecases: []
                  resellerId: null
                  sample1: Your verification code from FreeClimb is 000000. It expires
                    in 10 minutes.
                  sample2: null
                  sample3: null
                  sample4: null
                  sample5: null
                  messageFlow: null
                  helpMessage: null
                  referenceId: null
                  status: EXPIRED
                  mock: true
                  autoRenewal: false
                  embeddedLink: false
                  embeddedPhone: false
                  affiliateMarketing: false
                  numberPool: false
                  ageGated: false
                  directLending: false
                  subscriberOptin: true
                  subscriberOptout: false
                  subscriberHelp: true
                  createDate: 2022-07-05T15:17:05Z
                  billedDate: 2022-07-05T00:00:00Z
                  nextRenewalOrExpirationDate: null
              schema:
                $ref: '#/components/schemas/SMSTenDLCCampaignsListResult'
          description: The list SMS 10DLC campaigns
      summary: Get list of SMS 10DLC Campaigns
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Messages/10DLC/Campaigns/{campaignId}:
    get:
      deprecated: false
      operationId: get-tenDLC-sms-campaign
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this campaign resource.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSTenDLCCampaign'
          description: The specific SMS 10DLC Campaign that’s been processed by FreeClimb
      summary: Get a 10DLC SMS Campaign
      tags: []
  /Accounts/{accountId}/Messages/10DLC/PartnerCampaigns:
    get:
      deprecated: false
      operationId: get-tenDLC-sms-partnerCampaigns
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: The unique identifier for a brand
        explode: true
        in: query
        name: brandId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                total: 1
                start: 0
                end: 0
                page: 0
                numPages: 1
                pageSize: 100
                nextPageUri: null
                sharedCampaigns:
                - campaignId: CX56XX4
                  accountId: ACe39970fb7c31c747c67148900b4d9da60a41e532
                  brandId: BX56XX4
                  usecase: 2FA
                  description: mock campaign.
                  sample1: Your verification code from FreeClimb is 000000. It expires
                    in 10 minutes.
                  sample2: null
                  sample3: null
                  sample4: null
                  sample5: null
                  messageFlow: null
                  helpMessage: null
                  status: EXPIRED
                  embeddedLink: false
                  embeddedPhone: false
                  affiliateMarketing: false
                  numberPool: false
                  ageGated: false
                  directLending: false
                  subscriberOptin: true
                  subscriberOptout: false
                  subscriberHelp: true
                  createDate: 2022-07-05T15:17:05Z
                  optinKeywords: START
                  optoutKeywords: STOP
                  helpKeywords: HELP
                  optinMessage: ""
                  optoutMessage: ""
                  brand:
                    optionalAttributes: {}
                    brandId: BVCEBIJ
                    firstName: ""
                    lastName: ""
                    displayName: FreeClimb LLC(mock)
                    companyName: FreeClimb LLC
                    phone: "+18475722071"
                    email: bmabry@vailsys.com
                    website: https://www.freeclimb.com/
                    evpVettingScore: 22
              schema:
                $ref: '#/components/schemas/SMSTenDLCPartnerCampaignsListResult'
          description: The list SMS 10DLC partner campaigns
      summary: Get list of SMS 10DLC Partner Campaigns
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Messages/10DLC/PartnerCampaigns/{campaignId}:
    get:
      deprecated: false
      operationId: get-tenDLC-sms-partnerCampaign
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this campaign resource.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSTenDLCPartnerCampaign'
          description: The specific SMS 10DLC Partner Campaign that’s been processed
            by FreeClimb
      summary: Get a 10DLC SMS Partner Campaign
      tags: []
  /Accounts/{accountId}/Messages/10DLC/Brands:
    get:
      deprecated: false
      operationId: get-tenDLC-sms-brands
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              example:
                total: 1
                start: 0
                end: 0
                page: 0
                numPages: 1
                pageSize: 100
                nextPageUri: null
                brands:
                - mock: true
                  optionalAttributes: {}
                  accountId: AC1234512345123451234512345123451234512345
                  brandId: BVCEBIJ
                  cspId: SKGC6G0
                  firstName: ""
                  lastName: ""
                  displayName: FreeClimb LLC(mock)
                  companyName: FreeClimb LLC
                  ein: "843793747"
                  einIssuingCountry: US
                  phone: "+18475722071"
                  street: 570 Lake Cook Rd Ste 400
                  city: Deerfield
                  state: IL
                  postalCode: "60015"
                  country: US
                  email: bmabry@vailsys.com
                  stockSymbol: ""
                  stockExchange: ASX
                  ipAddress: 127.0.0.1
                  website: https://www.freeclimb.com/
                  vertical: TECHNOLOGY
                  universalEin: US_843793747
                  referenceId: ACdeadbeef
                  entityType: PRIVATE_PROFIT
                  brandRelationship: SMALL_ACCOUNT
                  identityStatus: VERIFIED
                  createDate: 2022-07-01T20:29:23Z
              schema:
                $ref: '#/components/schemas/SMSTenDLCBrandsListResult'
          description: The list SMS 10DLC brands
      summary: Get list of SMS 10DLC Brands
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Messages/10DLC/Brands/{brandId}:
    get:
      deprecated: false
      operationId: get-tenDLC-sms-brand
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this brand resource.
        explode: false
        in: path
        name: brandId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSTenDLCBrand'
          description: The specific SMS 10DLC Brand that’s been processed by FreeClimb
      summary: Get a 10DLC SMS Brand
      tags: []
  /Accounts/{accountId}/Messages/TollFree/Campaigns:
    get:
      deprecated: false
      operationId: get-tollFree-sms-campaigns
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              example:
                total: 1
                start: 0
                end: 0
                page: 0
                numPages: 1
                pageSize: 100
                nextPageUri: null
                tfnCampaigns:
                - accountId: ACe39970fb7c31c747c67148900b4d9da60a41e532
                  campaignId: cmptfn_387ec3f6e03b340553f35f29c8f118cdf3eae08a
                  useCase: example use case
                  registrationStatus: PENDING
                  dateCreated: 1704839615
                  dateUpdated: 1704839615
                  revision: 1
              schema:
                $ref: '#/components/schemas/SMSTollFreeCampaignsListResult'
          description: The list toll-free campaigns
      summary: Get list of TollFree Campaigns
      tags: []
      x-is-paginated: true
  /Accounts/{accountId}/Messages/TollFree/Campaigns/{campaignId}:
    get:
      deprecated: false
      operationId: get-tollFree-sms-campaign
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this TollFree Campaign resource.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSTollFreeCampaign'
          description: The specific SMS TollFree Campaign that’s been processed by
            FreeClimb
      summary: Get a TollFree SMS Campaign
      tags: []
components:
  parameters:
    AccountId:
      description: ID of the account
      explode: false
      in: path
      name: accountId
      required: true
      schema:
        type: string
      style: simple
      x-account-id: true
    Capabilities.Voice:
      description: ""
      explode: true
      in: query
      name: capabilities.voice
      required: false
      schema:
        type: boolean
      style: form
    Capabilities.Sms:
      description: ""
      explode: true
      in: query
      name: capabilities.sms
      required: false
      schema:
        type: boolean
      style: form
    Capabilities.TollFree:
      description: ""
      explode: true
      in: query
      name: capabilities.tollFree
      required: false
      schema:
        type: boolean
      style: form
    Capabilities.TenDLC:
      description: ""
      explode: true
      in: query
      name: capabilities.tenDLC
      required: false
      schema:
        type: boolean
      style: form
    Capabilities.ShortCode:
      description: ""
      explode: true
      in: query
      name: capabilities.shortCode
      required: false
      schema:
        type: boolean
      style: form
  schemas:
    AccountStatus:
      description: "The status of this account. It is one of: active, suspended, or\
        \ closed."
      enum:
      - closed
      - suspended
      - active
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - CLOSED
      - SUSPENDED
      - ACTIVE
      x-enum-mapping:
      - enum: closed
        varname: CLOSED
      - enum: suspended
        varname: SUSPENDED
      - enum: active
        varname: ACTIVE
    AccountType:
      description: "The type of this account. It is one of: trial or full."
      enum:
      - trial
      - full
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - TRIAL
      - FULL
      x-enum-mapping:
      - enum: trial
        varname: TRIAL
      - enum: full
        varname: FULL
    AnsweredBy:
      description: "If this Call was initiated with answering machine detection, either\
        \ `human` or `machine`. Empty otherwise."
      enum:
      - human
      - machine
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - HUMAN
      - MACHINE
      x-enum-mapping:
      - enum: human
        varname: HUMAN
      - enum: machine
        varname: MACHINE
    CallDirection:
      description: "Direction of the Call. `inbound` for Calls into FreeClimb, `outboundAPI`\
        \ for Calls initiated via the REST API,  `outboundDial` for Calls initiated\
        \ by the `OutDial` PerCL command."
      enum:
      - inbound
      - outboundAPI
      - outboundDial
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - INBOUND
      - OUTBOUND_API
      - OUTBOUND_DIAL
      x-enum-mapping:
      - enum: inbound
        varname: INBOUND
      - enum: outboundAPI
        varname: OUTBOUND_API
      - enum: outboundDial
        varname: OUTBOUND_DIAL
    CallStatus:
      description: "* `queued` &ndash; Call is ready and waiting in line before going\
        \ out. * `ringing` &ndash; Call is currently ringing. * `inProgress` &ndash;\
        \ Call was answered and is currently in progress. * `canceled` &ndash; Call\
        \ was hung up while it was queued or ringing. * `completed` &ndash; Call was\
        \ answered and has ended normally. * `busy` &ndash; Caller received a busy\
        \ signal. * `failed` &ndash; Call could not be completed as dialed, most likely\
        \ because the phone number was non-existent. * `noAnswer` &ndash; Call ended\
        \ without being answered."
      enum:
      - queued
      - ringing
      - inProgress
      - canceled
      - completed
      - failed
      - busy
      - noAnswer
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - QUEUED
      - RINGING
      - IN_PROGRESS
      - CANCELED
      - COMPLETED
      - FAILED
      - BUSY
      - NO_ANSWER
      x-enum-mapping:
      - enum: queued
        varname: QUEUED
      - enum: ringing
        varname: RINGING
      - enum: inProgress
        varname: IN_PROGRESS
      - enum: canceled
        varname: CANCELED
      - enum: completed
        varname: COMPLETED
      - enum: failed
        varname: FAILED
      - enum: busy
        varname: BUSY
      - enum: noAnswer
        varname: NO_ANSWER
    CallEndedReason:
      description: Enhanced status for the Call with additional information where
        available.
      enum:
      - busy
      - failed
      - noAnswer
      - callCanceled
      - farEndHangup
      - appHangup
      - appReject
      - appNoPercl
      - appInvalidPercl
      - conferenceTerminated
      - conferenceEmptied
      - removedFromConference
      - machineDetected
      - webhookFailed
      - webhookInvalidResponse
      - voiceDisabled
      - configErrorNoApplication
      - configErrorNoVoiceUrl
      - maxRedirectsError
      - perclProcessingError
      - internalError
      - grpcHangup
      - maxDuration
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - BUSY
      - FAILED
      - NO_ANSWER
      - CALL_CANCELED
      - FAR_END_HANGUP
      - APP_HANGUP
      - APP_REJECT
      - APP_NO_PERCL
      - APP_INVALID_PERCL
      - CONFERENCE_TERMINATED
      - CONFERENCE_EMPTIED
      - REMOVED_FROM_CONFERENCE
      - MACHINE_DETECTED
      - WEBHOOK_FAILED
      - WEBHOOK_INVALID_RESPONSE
      - VOICE_DISABLED
      - CONFIG_ERROR_NO_APPLICATION
      - CONFIG_ERROR_NO_VOICE_URL
      - MAX_REDIRECTS_ERROR
      - PERCL_PROCESSING_ERROR
      - INTERNAL_ERROR
      - GRPC_HANGUP
      - MAX_DURATION
      x-enum-mapping:
      - enum: busy
        varname: BUSY
      - enum: failed
        varname: FAILED
      - enum: noAnswer
        varname: NO_ANSWER
      - enum: callCanceled
        varname: CALL_CANCELED
      - enum: farEndHangup
        varname: FAR_END_HANGUP
      - enum: appHangup
        varname: APP_HANGUP
      - enum: appReject
        varname: APP_REJECT
      - enum: appNoPercl
        varname: APP_NO_PERCL
      - enum: appInvalidPercl
        varname: APP_INVALID_PERCL
      - enum: conferenceTerminated
        varname: CONFERENCE_TERMINATED
      - enum: conferenceEmptied
        varname: CONFERENCE_EMPTIED
      - enum: removedFromConference
        varname: REMOVED_FROM_CONFERENCE
      - enum: machineDetected
        varname: MACHINE_DETECTED
      - enum: webhookFailed
        varname: WEBHOOK_FAILED
      - enum: webhookInvalidResponse
        varname: WEBHOOK_INVALID_RESPONSE
      - enum: voiceDisabled
        varname: VOICE_DISABLED
      - enum: configErrorNoApplication
        varname: CONFIG_ERROR_NO_APPLICATION
      - enum: configErrorNoVoiceUrl
        varname: CONFIG_ERROR_NO_VOICE_URL
      - enum: maxRedirectsError
        varname: MAX_REDIRECTS_ERROR
      - enum: perclProcessingError
        varname: PERCL_PROCESSING_ERROR
      - enum: internalError
        varname: INTERNAL_ERROR
      - enum: grpcHangup
        varname: GRPC_HANGUP
      - enum: maxDuration
        varname: MAX_DURATION
    GetDigitsReason:
      description: "This field explains how the GetDigits action ended. The value\
        \ is one of the below: •finishKey - The finish key as specified had been pressed\
        \ by the caller. Digit string has all keys up to, but not including, the finish\
        \ key.  •timeout - The timeout limit was reached prior to any other criteria\
        \ being met. If any digits were collected, they will be included.  •maxDigits\
        \ - The maximum number of digits was reached and digit collection ended. \
        \ •tone - Answering machine or fax tone detection occurred, interrupting digit\
        \ collection. Any digits received up to this point are included in this webhook."
      enum:
      - finishKey
      - timeout
      - maxDigits
      - tone
      type: string
      x-enum: true
      x-enum-varnames:
      - FINISH_KEY
      - TIMEOUT
      - MAX_DIGITS
      - TONE
      x-enum-mapping:
      - enum: finishKey
        varname: FINISH_KEY
      - enum: timeout
        varname: TIMEOUT
      - enum: maxDigits
        varname: MAX_DIGITS
      - enum: tone
        varname: TONE
    ConferenceStatus:
      description: "The status of the Conference. One of: creating, empty, populated,\
        \ inProgress, or terminated."
      enum:
      - empty
      - populated
      - inProgress
      - terminated
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - EMPTY
      - POPULATED
      - IN_PROGRESS
      - TERMINATED
      x-enum-mapping:
      - enum: empty
        varname: EMPTY
      - enum: populated
        varname: POPULATED
      - enum: inProgress
        varname: IN_PROGRESS
      - enum: terminated
        varname: TERMINATED
    GetSpeechReason:
      enum:
      - error
      - hangup
      - digit
      - noInput
      - noMatch
      - recognition
      type: string
      x-enum: true
      x-enum-varnames:
      - ERROR
      - HANGUP
      - DIGIT
      - NO_INPUT
      - NO_MATCH
      - RECOGNITION
      x-enum-mapping:
      - enum: error
        varname: ERROR
      - enum: hangup
        varname: HANGUP
      - enum: digit
        varname: DIGIT
      - enum: noInput
        varname: NO_INPUT
      - enum: noMatch
        varname: NO_MATCH
      - enum: recognition
        varname: RECOGNITION
    GrammarFileBuiltIn:
      enum:
      - ALPHNUM6
      - ANY_DIG
      - DIG1
      - DIG2
      - DIG3
      - DIG4
      - DIG5
      - DIG6
      - DIG7
      - DIG8
      - DIG9
      - DIG10
      - DIG11
      - UP_TO_20_DIGIT_SEQUENCE
      - VERSAY_YESNO
      type: string
      x-enum: true
      x-enum-varnames:
      - ALPHNUM6
      - ANY_DIG
      - DIG1
      - DIG2
      - DIG3
      - DIG4
      - DIG5
      - DIG6
      - DIG7
      - DIG8
      - DIG9
      - DIG10
      - DIG11
      - UP_TO_20_DIGIT_SEQUENCE
      - VERSAY_YESNO
      x-enum-mapping:
      - enum: ALPHNUM6
        varname: ALPHNUM6
      - enum: ANY_DIG
        varname: ANY_DIG
      - enum: DIG1
        varname: DIG1
      - enum: DIG2
        varname: DIG2
      - enum: DIG3
        varname: DIG3
      - enum: DIG4
        varname: DIG4
      - enum: DIG5
        varname: DIG5
      - enum: DIG6
        varname: DIG6
      - enum: DIG7
        varname: DIG7
      - enum: DIG8
        varname: DIG8
      - enum: DIG9
        varname: DIG9
      - enum: DIG10
        varname: DIG10
      - enum: DIG11
        varname: DIG11
      - enum: UP_TO_20_DIGIT_SEQUENCE
        varname: UP_TO_20_DIGIT_SEQUENCE
      - enum: VERSAY_YESNO
        varname: VERSAY_YESNO
    GrammarType:
      description: The grammar file type to use for speech recognition. A value of
        'URL' indicates the grammarFile attribute specifies a URL that points to the
        grammar file. A value of `BUILTIN` indicates the grammarFile attribute specifies
        the name of one of the platform built-in grammar files.
      enum:
      - URL
      - BUILTIN
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - URL
      - BUILT_IN
      x-enum-mapping:
      - enum: URL
        varname: URL
      - enum: BUILTIN
        varname: BUILT_IN
    IfMachine:
      description: "Specifies how FreeClimb should handle this OutDial if an answering\
        \ machine answers the Call. Valid values: `redirect` invokes the ifMachineUrl\
        \ for instructions. `hangup` hangs up the Call. The ifMachineUrl will not\
        \ be invoked."
      enum:
      - redirect
      - hangup
      type: string
      x-enum: true
      x-enum-varnames:
      - REDIRECT
      - HANGUP
      x-enum-mapping:
      - enum: redirect
        varname: REDIRECT
      - enum: hangup
        varname: HANGUP
    Language:
      enum:
      - ca-ES
      - da-DK
      - de-DE
      - en-AU
      - en-CA
      - en-GB
      - en-IN
      - en-US
      - es-ES
      - es-MX
      - fi-FI
      - fr-CA
      - fr-FR
      - it-IT
      - ja-JP
      - ko-KR
      - nb-NO
      - nl-NL
      - pl-PL
      - pt-BR
      - pt-PT
      - ru-RU
      - sv-SE
      - zh-CN
      - zh-HK
      - zh-TW
      type: string
      x-enum: true
      x-enum-varnames:
      - CATALAN
      - DANISH
      - GERMAN
      - ENGLISH_AU
      - ENGLISH_CA
      - ENGLISH_UK
      - ENGLISH_IN
      - ENGLISH_US
      - ENGLISH_ES
      - ENGLISH_MX
      - FINNISH
      - FRENCH_CA
      - FRENCH_FR
      - ITALIAN
      - JAPANESE
      - KOREAN
      - NORWEGIAN
      - DUTCH
      - POLISH
      - PORTUGESE_BR
      - PORTUGESE_PT
      - RUSSIAN
      - SWEDISH
      - CHINESE_CN
      - CHINESE_HK
      - CHINESE_TW
      x-enum-mapping:
      - enum: ca-ES
        varname: CATALAN
      - enum: da-DK
        varname: DANISH
      - enum: de-DE
        varname: GERMAN
      - enum: en-AU
        varname: ENGLISH_AU
      - enum: en-CA
        varname: ENGLISH_CA
      - enum: en-GB
        varname: ENGLISH_UK
      - enum: en-IN
        varname: ENGLISH_IN
      - enum: en-US
        varname: ENGLISH_US
      - enum: es-ES
        varname: ENGLISH_ES
      - enum: es-MX
        varname: ENGLISH_MX
      - enum: fi-FI
        varname: FINNISH
      - enum: fr-CA
        varname: FRENCH_CA
      - enum: fr-FR
        varname: FRENCH_FR
      - enum: it-IT
        varname: ITALIAN
      - enum: ja-JP
        varname: JAPANESE
      - enum: ko-KR
        varname: KOREAN
      - enum: nb-NO
        varname: NORWEGIAN
      - enum: nl-NL
        varname: DUTCH
      - enum: pl-PL
        varname: POLISH
      - enum: pt-BR
        varname: PORTUGESE_BR
      - enum: pt-PT
        varname: PORTUGESE_PT
      - enum: ru-RU
        varname: RUSSIAN
      - enum: sv-SE
        varname: SWEDISH
      - enum: zh-CN
        varname: CHINESE_CN
      - enum: zh-HK
        varname: CHINESE_HK
      - enum: zh-TW
        varname: CHINESE_TW
    LogLevel:
      description: "Level of the log. Possible values are info, warning, and error."
      enum:
      - info
      - warning
      - error
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - INFO
      - WARNING
      - ERROR
      x-enum-mapping:
      - enum: info
        varname: INFO
      - enum: warning
        varname: WARNING
      - enum: error
        varname: ERROR
    MachineType:
      enum:
      - answering machine
      - fax modem
      type: string
      x-enum: true
      x-enum-varnames:
      - ANSWERING_MACHINE
      - FAX_MODEM
      x-enum-mapping:
      - enum: answering machine
        varname: ANSWERING_MACHINE
      - enum: fax modem
        varname: FAX_MODEM
    MessageDirection:
      enum:
      - inbound
      - outbound
      type: string
      x-enum: true
      x-enum-varnames:
      - INBOUND
      - OUTBOUND
      x-enum-mapping:
      - enum: inbound
        varname: INBOUND
      - enum: outbound
        varname: OUTBOUND
    MessageStatus:
      description: "Indicates the state of the message through the message lifecycle\
        \ including: new, queued, rejected, sending, sent, failed, received, undelivered,\
        \ expired, deleted, and unknown"
      enum:
      - new
      - queued
      - rejected
      - sending
      - sent
      - failed
      - received
      - undelivered
      - expired
      - deleted
      - unknown
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - NEW
      - QUEUED
      - REJECTED
      - SENDING
      - SENT
      - FAILED
      - RECEIVED
      - UNDELIVERED
      - EXPIRED
      - DELETED
      - UNKNOWN
      x-enum-mapping:
      - enum: new
        varname: NEW
      - enum: queued
        varname: QUEUED
      - enum: rejected
        varname: REJECTED
      - enum: sending
        varname: SENDING
      - enum: sent
        varname: SENT
      - enum: failed
        varname: FAILED
      - enum: received
        varname: RECEIVED
      - enum: undelivered
        varname: UNDELIVERED
      - enum: expired
        varname: EXPIRED
      - enum: deleted
        varname: DELETED
      - enum: unknown
        varname: UNKNOWN
    PlayBeep:
      description: "Indicates whether to play a beep when a Participant enters or\
        \ leaves the Conference. either `always`, `never`, `entryOnly`, or `exitOnly`.\
        \ Leaving this unset will make conference default to `always` "
      enum:
      - always
      - never
      - entryOnly
      - exitOnly
      nullable: true
      type: string
      x-enum: true
      x-enum-varnames:
      - ALWAYS
      - NEVER
      - ENTRY_ONLY
      - EXIT_ONLY
      x-enum-mapping:
      - enum: always
        varname: ALWAYS
      - enum: never
        varname: NEVER
      - enum: entryOnly
        varname: ENTRY_ONLY
      - enum: exitOnly
        varname: EXIT_ONLY
      x-enum-default-attr: ALWAYS
    QueueResultStatus:
      enum:
      - queueFull
      - dequeued
      - hangup
      - systemError
      type: string
      x-enum: true
      x-enum-varnames:
      - QUEUE_FULL
      - DEQUEUED
      - HANGUP
      - SYSTEM_ERROR
      x-enum-mapping:
      - enum: queueFull
        varname: QUEUE_FULL
      - enum: dequeued
        varname: DEQUEUED
      - enum: hangup
        varname: HANGUP
      - enum: systemError
        varname: SYSTEM_ERROR
    RecordUtteranceTermReason:
      enum:
      - finishKey
      - timeout
      - hangup
      - maxLength
      type: string
      x-enum: true
      x-enum-varnames:
      - FINISH_KEY
      - TIMEOUT
      - HANGUP
      - MAX_LENGTH
      x-enum-mapping:
      - enum: finishKey
        varname: FINISH_KEY
      - enum: timeout
        varname: TIMEOUT
      - enum: hangup
        varname: HANGUP
      - enum: maxLength
        varname: MAX_LENGTH
    BargeInReason:
      enum:
      - noBargeIn
      - bargeInByDTMF
      - bargeInByEnergy
      type: string
      x-enum: true
      x-enum-varnames:
      - NO_BARGE_IN
      - BARGE_IN_BY_DTMF
      - BARGE_IN_BY_ENERGY
      x-enum-mapping:
      - enum: noBargeIn
        varname: NO_BARGE_IN
      - enum: bargeInByDTMF
        varname: BARGE_IN_BY_DTMF
      - enum: bargeInByEnergy
        varname: BARGE_IN_BY_ENERGY
    TranscribeTermReason:
      enum:
      - error
      - completed
      type: string
      x-enum: true
      x-enum-varnames:
      - ERROR
      - COMPLETED
      x-enum-mapping:
      - enum: error
        varname: ERROR
      - enum: completed
        varname: COMPLETED
    TranscribeReason:
      enum:
      - internalError
      - hangup
      - maxLength
      - digit
      - noInput
      type: string
      x-enum: true
      x-enum-varnames:
      - INTERNAL_ERROR
      - HANGUP
      - MAX_LENGTH
      - DIGIT
      - NO_INPUT
      x-enum-mapping:
      - enum: internalError
        varname: INTERNAL_ERROR
      - enum: hangup
        varname: HANGUP
      - enum: maxLength
        varname: MAX_LENGTH
      - enum: digit
        varname: DIGIT
      - enum: noInput
        varname: NO_INPUT
    RequestType:
      enum:
      - inboundCall
      - record
      - getDigits
      - getSpeech
      - redirect
      - pause
      - outDialStart
      - outDialConnect
      - outDialApiConnect
      - machineDetected
      - dequeue
      - queueWait
      - addToQueueNotification
      - removeFromQueueNotification
      - callStatus
      - createConference
      - conferenceStatus
      - leaveConference
      - addToConferenceNotification
      - conferenceRecordingStatus
      - conferenceCallControl
      - messageDelivery
      - messageStatus
      type: string
      x-enum: true
      x-enum-varnames:
      - INBOUND_CALL
      - RECORD
      - GET_DIGITS
      - GET_SPEECH
      - REDIRECT
      - PAUSE
      - OUT_DIAL_START
      - OUT_DIAL_CONNECT
      - OUT_DIAL_API_CONNECT
      - MACHINE_DETECTED
      - DEQUEUE
      - QUEUE_WAIT
      - ADD_TO_QUEUE_NOTIFICATION
      - REMOVE_FROM_QUEUE_NOTIFICATION
      - CALL_STATUS
      - CREATE_CONFERENCE
      - CONFERENCE_STATUS
      - LEAVE_CONFERENCE
      - ADD_TO_CONFERENCE_NOTIFICATION
      - CONFERENCE_RECORDING_STATUS
      - CONFERENCE_CALL_CONTROL
      - MESSAGE_DELIVERY
      - MESSAGE_STATUS
      x-enum-mapping:
      - enum: inboundCall
        varname: INBOUND_CALL
      - enum: record
        varname: RECORD
      - enum: getDigits
        varname: GET_DIGITS
      - enum: getSpeech
        varname: GET_SPEECH
      - enum: redirect
        varname: REDIRECT
      - enum: pause
        varname: PAUSE
      - enum: outDialStart
        varname: OUT_DIAL_START
      - enum: outDialConnect
        varname: OUT_DIAL_CONNECT
      - enum: outDialApiConnect
        varname: OUT_DIAL_API_CONNECT
      - enum: machineDetected
        varname: MACHINE_DETECTED
      - enum: dequeue
        varname: DEQUEUE
      - enum: queueWait
        varname: QUEUE_WAIT
      - enum: addToQueueNotification
        varname: ADD_TO_QUEUE_NOTIFICATION
      - enum: removeFromQueueNotification
        varname: REMOVE_FROM_QUEUE_NOTIFICATION
      - enum: callStatus
        varname: CALL_STATUS
      - enum: createConference
        varname: CREATE_CONFERENCE
      - enum: conferenceStatus
        varname: CONFERENCE_STATUS
      - enum: leaveConference
        varname: LEAVE_CONFERENCE
      - enum: addToConferenceNotification
        varname: ADD_TO_CONFERENCE_NOTIFICATION
      - enum: conferenceRecordingStatus
        varname: CONFERENCE_RECORDING_STATUS
      - enum: conferenceCallControl
        varname: CONFERENCE_CALL_CONTROL
      - enum: messageDelivery
        varname: MESSAGE_DELIVERY
      - enum: messageStatus
        varname: MESSAGE_STATUS
    UpdateCallRequestStatus:
      description: Either `canceled` or `completed`.  Specifying `canceled` attempts
        to hang up calls that are queued without affecting calls already in progress.
        Specifying `completed` attempts to hang up a call already in progress.
      enum:
      - canceled
      - completed
      type: string
      x-enum: true
      x-enum-varnames:
      - CANCELED
      - COMPLETED
      x-enum-mapping:
      - enum: canceled
        varname: CANCELED
      - enum: completed
        varname: COMPLETED
    UpdateConferenceRequestStatus:
      description: "New status of the conference. Valid values: `empty` or `terminated`.\
        \ For more information, see **Status Parameter** below.**"
      enum:
      - empty
      - terminated
      type: string
      x-enum: true
      x-enum-varnames:
      - EMPTY
      - TERMINATED
      x-enum-mapping:
      - enum: empty
        varname: EMPTY
      - enum: terminated
        varname: TERMINATED
    SMSTollFreeCampaignRegistrationStatus:
      description: "Current toll-free campaign registration status.Possible values:\
        \ UNREGISTERED,INITIATED,PENDING,DECLINED,REGISTERED. A newly created campaign\
        \ defaults to INITIATED status. "
      enum:
      - UNREGISTERED
      - INITIATED
      - PENDING
      - DECLINED
      - REGISTERED
      type: string
      x-enum: true
      x-enum-varnames:
      - UNREGISTERED
      - INITIATED
      - PENDING
      - DECLINED
      - REGISTERED
      x-enum-mapping:
      - enum: UNREGISTERED
        varname: UNREGISTERED
      - enum: INITIATED
        varname: INITIATED
      - enum: PENDING
        varname: PENDING
      - enum: DECLINED
        varname: DECLINED
      - enum: REGISTERED
        varname: REGISTERED
    SMSTenDLCCampaignStatus:
      description: "Current campaign status. Possible values: ACTIVE, EXPIRED. A newly\
        \ created campaign defaults to ACTIVE status. "
      enum:
      - ACTIVE
      - EXPIRED
      type: string
      x-enum: true
      x-enum-varnames:
      - ACTIVE
      - EXPIRED
      x-enum-mapping:
      - enum: ACTIVE
        varname: ACTIVE
      - enum: EXPIRED
        varname: EXPIRED
    SMSTenDLCPartnerCampaignStatus:
      description: "Current campaign status. Possible values: ACTIVE, EXPIRED. A newly\
        \ created campaign defaults to ACTIVE status. "
      enum:
      - ACTIVE
      - EXPIRED
      type: string
      x-enum: true
      x-enum-varnames:
      - ACTIVE
      - EXPIRED
      x-enum-mapping:
      - enum: ACTIVE
        varname: ACTIVE
      - enum: EXPIRED
        varname: EXPIRED
    SMSTenDLCBrandEntityType:
      description: Entity type behind the brand. This is the form of business establishment.
      enum:
      - PRIVATE_PROFIT
      - PUBLIC_PROFIT
      - NON_PROFIT
      - GOVERNMENT
      - SOLE_PROPRIETOR
      maxLength: 20
      type: string
      x-enum: true
      x-enum-varnames:
      - PRIVATE_PROFIT
      - PUBLIC_PROFIT
      - NON_PROFIT
      - GOVERNMENT
      - SOLE_PROPRIETOR
      x-enum-mapping:
      - enum: PRIVATE_PROFIT
        varname: PRIVATE_PROFIT
      - enum: PUBLIC_PROFIT
        varname: PUBLIC_PROFIT
      - enum: NON_PROFIT
        varname: NON_PROFIT
      - enum: GOVERNMENT
        varname: GOVERNMENT
      - enum: SOLE_PROPRIETOR
        varname: SOLE_PROPRIETOR
    SMSTenDLCBrandRelationship:
      description: Brand relationship to the CSP
      enum:
      - BASIC_ACCOUNT
      - SMALL_ACCOUNT
      - MEDIUM_ACCOUNT
      - LARGE_ACCOUNT
      - KEY_ACCOUNT
      type: string
      x-enum: true
      x-enum-varnames:
      - BASIC_ACCOUNT
      - SMALL_ACCOUNT
      - MEDIUM_ACCOUNT
      - LARGE_ACCOUNT
      - KEY_ACCOUNT
      x-enum-mapping:
      - enum: BASIC_ACCOUNT
        varname: BASIC_ACCOUNT
      - enum: SMALL_ACCOUNT
        varname: SMALL_ACCOUNT
      - enum: MEDIUM_ACCOUNT
        varname: MEDIUM_ACCOUNT
      - enum: LARGE_ACCOUNT
        varname: LARGE_ACCOUNT
      - enum: KEY_ACCOUNT
        varname: KEY_ACCOUNT
    SMSTenDLCBrandStockExchange:
      description: (Required for public company) stock exchange.
      enum:
      - NONE
      - NASDAQ
      - NYSE
      - AMEX
      - AMX
      - ASX
      - B3
      - BME
      - BSE
      - FRA
      - ICEX
      - JPX
      - JSE
      - KRX
      - LON
      - NSE
      - OMX
      - SEHK
      - SGX
      - SSE
      - STO
      - SWX
      - SZSE
      - TSX
      - TWSE
      - VSE
      - OTHER
      example: NASDAQ
      type: string
      x-enum: true
      x-enum-varnames:
      - NONE
      - NASDAQ
      - NYSE
      - AMEX
      - AMX
      - ASX
      - B3
      - BME
      - BSE
      - FRA
      - ICEX
      - JPX
      - JSE
      - KRX
      - LON
      - NSE
      - OMX
      - SEHK
      - SGX
      - SSE
      - STO
      - SWX
      - SZSE
      - TSX
      - TWSE
      - VSE
      - OTHER
      x-enum-mapping:
      - enum: NONE
        varname: NONE
      - enum: NASDAQ
        varname: NASDAQ
      - enum: NYSE
        varname: NYSE
      - enum: AMEX
        varname: AMEX
      - enum: AMX
        varname: AMX
      - enum: ASX
        varname: ASX
      - enum: B3
        varname: B3
      - enum: BME
        varname: BME
      - enum: BSE
        varname: BSE
      - enum: FRA
        varname: FRA
      - enum: ICEX
        varname: ICEX
      - enum: JPX
        varname: JPX
      - enum: JSE
        varname: JSE
      - enum: KRX
        varname: KRX
      - enum: LON
        varname: LON
      - enum: NSE
        varname: NSE
      - enum: OMX
        varname: OMX
      - enum: SEHK
        varname: SEHK
      - enum: SGX
        varname: SGX
      - enum: SSE
        varname: SSE
      - enum: STO
        varname: STO
      - enum: SWX
        varname: SWX
      - enum: SZSE
        varname: SZSE
      - enum: TSX
        varname: TSX
      - enum: TWSE
        varname: TWSE
      - enum: VSE
        varname: VSE
      - enum: OTHER
        varname: OTHER
    SMSTenDLCBrandAltBusinessIdType:
      description: The type of the Alternative business identifier
      enum:
      - NONE
      - DUNS
      - GIIN
      - LEI
      type: string
      x-enum: true
      x-enum-varnames:
      - NONE
      - DUNS
      - GIIN
      - LEI
      x-enum-mapping:
      - enum: NONE
        varname: NONE
      - enum: DUNS
        varname: DUNS
      - enum: GIIN
        varname: GIIN
      - enum: LEI
        varname: LEI
    SMSTenDLCBrandIdentityStatus:
      description: TCR assessment of the brand identification status.
      enum:
      - SELF_DECLARED
      - UNVERIFIED
      - VERIFIED
      - VETTED_VERIFIED
      type: string
      x-enum: true
      x-enum-varnames:
      - SELF_DECLARED
      - UNVERIFIED
      - VERIFIED
      - VETTED_VERIFIED
      x-enum-mapping:
      - enum: SELF_DECLARED
        varname: SELF_DECLARED
      - enum: UNVERIFIED
        varname: UNVERIFIED
      - enum: VERIFIED
        varname: VERIFIED
      - enum: VETTED_VERIFIED
        varname: VETTED_VERIFIED
    CompletionResultStatus:
      description: "Completion result status. Possible values: success, no_context"
      enum:
      - success
      - no_context
      type: string
      x-enum: true
      x-enum-varnames:
      - SUCCESS
      - NO_CONTEXT
      x-enum-mapping:
      - enum: success
        varname: SUCCESS
      - enum: no_context
        varname: NO_CONTEXT
    SMSTenDLCOptionalAttributes:
      additionalProperties: true
      description: Optional brand attributes. Please refer to GET /enum/optionalAttributeNames
        for dictionary of optional attribute names.
      type: object
      x-is-map: true
      x-is-hash: true
      x-is-object: true
    PerclScript:
      description: A PerCL script to be returned to the FreeClimb servers in FreeClimb
        applications
      properties:
        commands:
          description: A JSON array of PerCL commands
          items:
            $ref: '#/components/schemas/PerclCommand'
          type: array
          x-is-list: true
      type: object
      x-percl-script: true
      x-is-object: true
    PerclCommand:
      description: An individual command used in a PerCLScript.
      discriminator:
        mapping:
          AddToConference: '#/components/schemas/AddToConference'
          CreateConference: '#/components/schemas/CreateConference'
          Dequeue: '#/components/schemas/Dequeue'
          Enqueue: '#/components/schemas/Enqueue'
          GetDigits: '#/components/schemas/GetDigits'
          GetSpeech: '#/components/schemas/GetSpeech'
          Hangup: '#/components/schemas/Hangup'
          OutDial: '#/components/schemas/OutDial'
          Pause: '#/components/schemas/Pause'
          Park: '#/components/schemas/Park'
          Play: '#/components/schemas/Play'
          PlayEarlyMedia: '#/components/schemas/PlayEarlyMedia'
          RecordUtterance: '#/components/schemas/RecordUtterance'
          Redirect: '#/components/schemas/Redirect'
          Reject: '#/components/schemas/Reject'
          RemoveFromConference: '#/components/schemas/RemoveFromConference'
          Say: '#/components/schemas/Say'
          SendDigits: '#/components/schemas/SendDigits'
          SetListen: '#/components/schemas/SetListen'
          SetTalk: '#/components/schemas/SetTalk'
          SetDTMFPassThrough: '#/components/schemas/SetDTMFPassThrough'
          Sms: '#/components/schemas/Sms'
          StartRecordCall: '#/components/schemas/StartRecordCall'
          TerminateConference: '#/components/schemas/TerminateConference'
          TranscribeUtterance: '#/components/schemas/TranscribeUtterance'
          Unpark: '#/components/schemas/Unpark'
        propertyName: command
      properties:
        command:
          description: Name of PerCL Command (this is automatically derived from mapping
            configuration and should not be manually supplied in any arguments)
          type: string
          x-percl-command-base: true
          x-is-no-property: true
      type: object
      x-percl-command-base: true
      x-is-object: true
    Webhook:
      discriminator:
        mapping:
          addToConferenceNotification: '#/components/schemas/AddToConferenceNotificationWebhook'
          addToQueueNotification: '#/components/schemas/AddToQueueNotificationWebhook'
          callControl: '#/components/schemas/CallControlWebhook'
          callStatus: '#/components/schemas/CallStatusWebhook'
          conferenceRecordingStatus: '#/components/schemas/ConferenceRecordingStatusWebhook'
          conferenceStatus: '#/components/schemas/ConferenceStatusWebhook'
          createConference: '#/components/schemas/CreateConferenceWebhook'
          dequeue: '#/components/schemas/DequeueWebhook'
[...]
